{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button,
  nhsd_a_figure
-%}

{#- Set classes -#}
{% set classNames = "nhsd-m-case-study" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

<article class="{{ classNames }}">
  <div class="nhsd-m-case-study__content-box">
    <div class="nhsd-m-case-study__contents">
      {% if params.label -%}
      <div class="nhsd-t-body-s nhsd-!t-font-weight-bold nhsd-!t-colour-dark-grey nhsd-!t-margin-bottom-2">{{ params.label }}</div>
      {%- endif %}

      {% if params.title -%}
      <h1 class="nhsd-t-heading-xl nhsd-!t-margin-bottom-3">{{ params.title }}</h1>
      {%- endif %}

      {% if params.figure -%}
      {{ nhsd_a_figure(params.figure) }}
      {%- endif %}

      {% if params.text -%}
      <p class="nhsd-t-body nhsd-!t-margin-bottom-4">{{ params.text }}</p>
      {%- endif %}

      {% if params.button -%}
      {{ nhsd_a_button(params.button) }}
      {%- endif %}
    </div>
  </div>

  <div class="nhsd-m-case-study__picture-skeleton"></div>
</article>
