{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button,
  nhsd_a_colour_bar,
  nhsd_a_digiblocks,
  nhsd_a_image
-%}

{#- Import molecule macros -#}
{%- from "../../../njk/macros/molecules.njk" import
  nhsd_m_button_nav
-%}

{#- Set classes -#}
{% set componentClassName = "nhsd-o-hero2" %}
{% set classNames = componentClassName %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}
{%- set introTextClassNames = params.introText.classes if params.introText.classes else "nhsd-t-body-s" -%}
{%- set titleClassNames = params.title.classes if params.title.classes else "nhsd-t-heading-xxl nhsd-!t-margin-bottom-2" -%}
{%- set textClassNames = params.text.classes if params.text.classes else "nhsd-t-heading-s" -%}

{% if params.image and params.accented -%}
  {% if params.mirrored -%}
    {%- set classNames = classNames + " nhsd-o-hero2--image-hero-accented-mirrored" -%}
  {% else %}
    {%- set classNames = classNames + " nhsd-o-hero2--image-hero-accented" -%}
  {% endif %}
{% elif params.backgroundImage -%}
  {%- set classNames = classNames + " nhsd-o-hero2--background-image" -%}
{% elif params.image -%}
    {%- set classNames = classNames + " nhsd-o-hero2--image-banner" -%}
{% endif %}
{% if params.leftAlign -%}
  {%- set classNames = classNames + " nhsd-o-hero2--left-align" -%}
{% endif %}

<div class="{{ classNames }}">
  {%- set contentClass = "" -%}
  {% if params.metaData -%}
    {%- set contentClass = " nhsd-o-hero2__content-container" -%}
  {%- endif -%}
  <div class="nhsd-o-hero2__content-container {{ contentClass }}">
    <div class="nhsd-o-hero2__inner-content-container">
      {%- if params.introText -%}
      <p class="{{ introTextClassNames }}">{{ params.introText.text|safe }}</p>
      {%- endif -%}
      <span class="{{ titleClassNames }}">{{ params.title.label|safe }}</span>
      {%- if params.text -%}
      <p class="{{ textClassNames }}">{{ params.text.label|safe }}</p>
      {%- endif -%}

      {% if params.metaData -%}
        {% set metaDataClassName = componentClassName + "__meta-data" %}
        {%- if params.metaData.classes -%}
          {% set metaDataClassName = metaDataClassName + " " + params.metaData.classes -%}
        {%- endif -%}

        <div class="{{ metaDataClassName }}">
          {% for metaItem in params.metaData.data -%}
          <div class="{{ componentClassName }}__meta-data-item">
            <div class="{{ componentClassName }}__meta-data-item-title">{{ metaItem.title }}</div>
            <div class="{{ componentClassName }}__meta-data-item-description">{{ metaItem.description }}</div>
          </div>
          {% endfor -%}
        </div>
      {% endif -%}

      {%if params.button -%}
      {{ nhsd_a_button(params.button) }}
      {%- endif %}
      {%if params.buttonNav -%}
      {{ nhsd_m_button_nav(params.buttonNav) }}
      {%- endif %}
    </div>
  </div>

  {% if imageBanner or params.image or params.video -%}
    <div class="nhsd-o-hero2__image-container">
      {% if params.image -%}
        {{ nhsd_a_image(params.image) }}
      {% elif params.imageBanner -%}
        {{ nhsd_a_image(params.imageBanner) }}
      {%- elif params.video %}
        <div class="nhsd-o-hero__iframe-wrapper">
          <iframe class="nhsd-o-hero__iframe" type="text/html" src="{{params.video}}" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
        </div>
      {%- endif %}
    </div>
  {%- endif -%}

  {% if params.colourBar -%}
    {{ nhsd_a_colour_bar() }}
  {%- endif %}

  {% if params.digiblocks -%}
    {% for digiblocks in params.digiblocks %}
      {{ nhsd_a_digiblocks(digiblocks) }}
    {% endfor %}
  {%- endif %}
</div>
