{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_character_block
-%}

{# Set classes #}
{%- set classNames = "nhsd-m-character-block-list" -%}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

<div class="{{ classNames }}">
  {%- if params.title -%}
    <span id="nhsd-character-block-list-heading" class="nhsd-t-heading-m">{{ params.title }}</span>
    <nav aria-labelledby="nhsd-character-block-list-heading">
  {%- else -%}
    <nav>
  {%- endif -%}
    <ul>
    {%- for char in params.charList -%}
        <li>
          {{ nhsd_a_character_block(char) }}
        </li>
    {% endfor %}
    </ul>
  </nav>
</div>
