// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/image";
@use "../../atoms/link";

// Private members
$-root: ".nhsd-m-image-with-link";

#{$-root} {
  display: block;
  position: relative;
  text-align: center;

  .nhsd-a-link {
    display: inline;

    &:not(:focus):not(:hover) {
      color: nhsd-colours.theme("link-colour");
    }
  }

  // Default use case - 2D/2T/1M with `small` heading
  [class^="nhsd-t-heading"] {
    max-width: 85%;
    margin: 0 auto;

    @include mq($until: s) {
      max-width: 80%;
    }

    @include mq($from: l) {
      max-width: 60%;
    }
  }
}
