// Built in modules
@use "sass:map";

// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/typography" as nhsd-typography;

// Component imports
@use "../../atoms/button";
@use "../../atoms/colour-bar";
@use "../../atoms/image";

// Private members
$-root: ".nhsd-o-banner";

$-breakpoints: "xs", "s", "m", "l", "xl";

#{$-root} {
  display: flex;
  width: 100%;
  max-width: vars.$max-component-width;
  min-height: vars.$min-banner-mobile-height;
  margin: 0 auto;

  &--mirrored {
    flex-direction: row-reverse;
  }

  [class^="nhsd-t-heading"] {
    @include nhsd-utils.clamped-text(3);
  }

  [class^="nhsd-t-body"] {
    @include nhsd-utils.clamped-text(5);
  }

  &__content-container,
  &__image-container {
    width: 50%;
  }

  &__content-container {
    display: flex;
    padding: nhsd-spacing.get(10);
    align-items: center;
  }

  &__inner-content-container {
    width: 100%;

    .nhsd-a-button {
      max-width: 100%;
    }
  }

  @include mq($until: s) {
    width: 100% / 12 * 11;
    flex-direction: column-reverse;

    &__content-container,
    &__image-container {
      width: 100%;
    }

    &__content-container {
      padding: nhsd-spacing.get(8) nhsd-spacing.get(6);
    }

    .nhsd-a-image {
      overflow: hidden;
      border-top-left-radius: vars.$border-radius;
      border-top-right-radius: vars.$border-radius;

      img {
        position: relative;
      }
    }
  }
}
