// Built in modules
@use "sass:map";

// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/grid" as nhsd-grid;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/typography" as nhsd-typography;

// Component imports
@use "../../atoms/button";
@use "../../atoms/colour-bar";
@use "../../atoms/image";

// Private members
$-root: ".nhsd-o-hero";

$-breakpoints: "xs", "s", "m", "l", "xl";

#{$-root} {
  display: flex;
  position: relative;
  min-height: vars.$min-banner-height;
  overflow: hidden;
  background: nhsd-colours.get("pale-grey");
  align-items: center;
  justify-content: center;

  &__content-container {
    max-width: 100%;
    padding: nhsd-spacing.get(8) vars.$gutter * 2;

    @include mq($until: s) {
      padding: nhsd-spacing.get(8) vars.$small-gutter * 2;
    }

    @include mq($from: t) {
      max-width: map.get(vars.$content-width, "xs");
    }

    @include mq($from: xl) {
      max-width: map.get(vars.$content-width, "s");
    }
  }

  &__iframe-wrapper {
    position: relative;
    z-index: 1;
    min-height: 100%;
    padding-bottom: 56.25%;
  }

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content-box {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    height: 100%;
    min-height: 15.555rem;
    padding: calc(#{nhsd-spacing.get(8)} - 6px);
    @include nhsd-spacing.set-responsive("padding-left", 6);
    @include nhsd-spacing.set-responsive("padding-right", 6);

    @include mq($from: t, $until: s) {
      padding-right: nhsd-spacing.get(8);
      padding-left: nhsd-spacing.get(8);
    }

    &--left-align {
      justify-content: left;
    }

    &--right-align {
      justify-content: right;
    }
  }

  &__content {
    max-width: 100%;
    align-self: center;
  }

  &__meta-data {
    display: table;
    font-size: .888rem;
    text-align: left;
  }

  &__meta-data-item {
    display: table-row;
  }

  &__meta-data-item-title,
  &__meta-data-item-description {
    display: table-cell;
  }

  &__meta-data-item-title {
    padding-right: nhsd-spacing.get(4);
    @include nhsd-fonts.font-weight(bold);
  }

  @include mq($until: t) {
    &__meta-data,
    &__meta-data-item,
    &__meta-data-item-title,
    &__meta-data-item-description {
      display: block;
    }

    &__meta-data-item {
      padding: nhsd-spacing.get(1) 0;
    }
  }

  &--background-image {
    padding-bottom: 30vw;

    @include mq($from: l) {
      padding-bottom: 300px;
    }
  }

  &__background-image {
    position: absolute;
    top: calc(100% - 30vw - 135px);
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 55%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 55%);

    @include mq($from: l) {
      top: calc(100% - 435px);
    }
  }

  .nhsd-a-digiblocks {
    z-index: 0;
  }

  &--light-text {
    @include nhsd-utils.light-text;
  }

  &--image-banner {
    display: block;

    #{$-root}__content-box {
      min-height: 0;
    }

    .nhsd-a-image {
      height: 100%;

      &__picture {
        height: 100%;
      }
    }

    .nhsd-a-image--cover,
    .nhsd-a-image--contain {
      min-height: 300px;
    }
  }

  &-feature {
    padding: 0;
    background: transparent;

    .nhsd-t-grid {
      max-width: 106.666rem;
    }

    .nhsd-a-colour-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      height: nhsd-spacing.get(7);

      @include mq($from: l) {
        height: nhsd-spacing.get(9);
      }
    }

    .nhsd-a-image:not(.nhsd-a-image--square) {
      @include mq($from: s, $until: l) {
        .nhsd-a-image__picture {
          padding-bottom: 68.9922481%;
        }
      }
    }

    [class^="nhsd-t-heading"],
    [class^="nhsd-t-body"] {
      @include mq($from: s) {
        max-width: 25rem;
      }
    }

    [class^="nhsd-t-heading"] {
      @include nhsd-utils.clamped-text(3);
    }

    [class^="nhsd-t-body"] {
      @include nhsd-utils.clamped-text(7);
    }

    #{$-root}__content-box {
      padding: nhsd-spacing.get(5) nhsd-spacing.get(7);
      background: nhsd-colours.get("bright-blue-10-tint");
    }

    // Large, square image variant (home page)
    &--accented {
      #{$-root}__content-box {
        background: nhsd-colours.get("pale-grey");
      }

      [class^="nhsd-t-heading"] {
        line-height: 1.1666;
      }
    }

    // Mirrored variant (home page - image on the left, content on the right)
    &--mirrored {
      [class^="nhsd-t-col"] {
        &:first-child {
          order: 1;
        }
      }
    }

    @include mq($from: s) {
      [class^="nhsd-t-body"] {
        @include nhsd-utils.clamped-text(3);
      }

      &--accented {
        [class^="nhsd-t-body"] {
          @include nhsd-utils.clamped-text(4);
        }
      }
    }

    @include mq($until: s) {
      &:not(&--accented) {
        .nhsd-a-image__picture {
          border-top-left-radius: vars.$border-radius;
          border-top-right-radius: vars.$border-radius;
        }

        #{$-root}__content-box,
        .nhsd-a-colour-bar {
          border-bottom-left-radius: vars.$border-radius;
          border-bottom-right-radius: vars.$border-radius;
        }
      }

      [class^="nhsd-t-col"]:first-child {
        order: 1;
      }

      &:not(:last-child) {
        margin-bottom: nhsd-spacing.get(5);
      }
    }

    @include mq($from: m) {
      [class^="nhsd-t-body"] {
        @include nhsd-utils.clamped-text(4);
      }

      &--accented {
        [class^="nhsd-t-body"] {
          @include nhsd-utils.clamped-text(8);
        }
      }
    }

    @include mq($from: l) {
      [class^="nhsd-t-heading"],
      [class^="nhsd-t-body"] {
        max-width: 30.5rem;
      }

      &--accented {
        [class^="nhsd-t-body"] {
          @include nhsd-utils.clamped-text(10);
        }
      }
    }

    @include mq($from: xl) {
      &--accented {
        [class^="nhsd-t-heading"] {
          font-size: 3rem;
          letter-spacing: -.0622rem;
        }

        [class^="nhsd-t-body"] {
          @include nhsd-utils.clamped-text(12);
        }
      }
    }
  }
}
