// Settings
@use "scss-core/settings/vars" as nhsd-vars;
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/grid" as nhsd-grid;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/typography" as nhsd-typography;

// Component imports
@use "../../atoms/button";
@use "../../atoms/colour-bar";
@use "../../atoms/picture";

// Private members
$-root: ".nhsd-o-hero";

#{$-root} {
  display: block;
  position: relative;
  background: nhsd-colours.get("pale-grey");

  &__content-box {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    min-height: 15.555rem;
  }

  &__content {
    max-width: 100%;
    align-self: center;

    @include mq($until: s) {
      text-align: center;
    }
  }

  &-feature {
    background: transparent;

    .nhsd-t-grid {
      max-width: 106.666rem;
    }

    .nhsd-a-colour-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      height: nhsd-spacing.get(7);

      @include mq($from: l) {
        height: nhsd-spacing.get(9);
      }
    }

    .nhsd-a-picture:not(.nhsd-a-picture--square) {
      @include mq($from: s, $until: l) {
        padding-bottom: 68.9922481%;
      }
    }

    [class^="nhsd-t-heading"],
    [class^="nhsd-t-body"] {
      @include mq($from: s) {
        max-width: 25rem;
      }
    }

    @include mq($from: s, $until: m) {
      [class^="nhsd-t-body"] {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }

    #{$-root}__content-box {
      padding: nhsd-spacing.get(5) nhsd-spacing.get(7);
      background: nhsd-colours.get("bright-blue-10-tint");
    }

    &--accented {
      #{$-root}__content-box {
        background: nhsd-colours.get("pale-grey");
      }
    }

    &--mirrored {
      [class^="nhsd-t-col"] {
        &:first-child {
          order: 1;
        }
      }
    }

    @include mq($until: s) {
      &:not(&--accented) {
        .nhsd-a-picture {
          border-top-left-radius: nhsd-vars.$border-radius;
          border-top-right-radius: nhsd-vars.$border-radius;
        }

        #{$-root}__content-box,
        .nhsd-a-colour-bar {
          border-bottom-left-radius: nhsd-vars.$border-radius;
          border-bottom-right-radius: nhsd-vars.$border-radius;
        }
      }

      [class^="nhsd-t-col"]:first-child {
        order: 1;
      }

      &:not(:last-child) {
        margin-bottom: nhsd-spacing.get(5);
      }
    }

    @include mq($from: l) {
      [class^="nhsd-t-heading"],
      [class^="nhsd-t-body"] {
        max-width: 30.5rem;
      }
    }

    @include mq($from: xl) {
      &--accented {
        [class^="nhsd-t-heading"] {
          font-size: 3rem;
          letter-spacing: -.0622rem;
          line-height: 2.888rem;
        }
      }
    }
  }
}
