{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button,
  nhsd_a_colour_bar,
  nhsd_a_digiblocks,
  nhsd_a_image
-%}

{#- Import molecule macros -#}
{%- from "../../../njk/macros/molecules.njk" import
  nhsd_m_button_nav
-%}

{#- Set classes -#}
{% set classNames = "nhsd-o-hero" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}
{%- set titleClassNames = params.title.classes if params.title.classes else "nhsd-t-heading-xxl nhsd-!t-margin-bottom-2" -%}
{%- set textClassNames = params.text.classes if params.text.classes else "nhsd-t-heading-s" -%}

{#- Set backgroundClass -#}
{%- if params.bgColourKey -%}
  {%- set bgClassName = "nhsd-!t-bg-" + params.bgColourKey -%}
{%- endif -%}

{#- Set colourClass -#}
{%- if params.colourKey -%}
{%- set colourClassName = "nhsd-!t-col-" + params.colourKey -%}
{%- endif -%}

{#- Set featured -#}
{%- set featured = true if params.featured else false -%}
{#- Set mirrored (only used if featured) -#}
{%- set mirrored = true if featured and params.featured.mirrored else false -%}
{#- Set accent (only used if featured) -#}
{%- set accented = true if featured and params.featured.accented else false -%}

{#- Set featured variant class names -#}
{%- if featured -%}
  {%- set classNames = "nhsd-o-hero-feature" -%}
  {%- if mirrored -%}
    {%- set classNames = classNames + " nhsd-o-hero-feature--mirrored" -%}
  {%- endif -%}
  {%- if accented -%}
    {%- set classNames = classNames + " nhsd-o-hero-feature--accented" -%}
  {%- endif -%}
{%- endif -%}

{#- Set column classes depending on content type -#}
{%- set columnClassNames = "nhsd-t-col-xs-12 nhsd-t-col-s-8 nhsd-t-col-l-6 nhsd-!t-no-gutters" -%}
{% if featured -%}
  {%- set columnClassNames = "nhsd-t-col-xs-11 nhsd-t-col-s-6 nhsd-!t-no-gutters" -%}
  {% if accented -%}
    {%- set columnClassNames = "nhsd-t-col-xs-12 nhsd-t-col-s-6 nhsd-!t-no-gutters" -%}
  {% endif %}
{%- endif %}

<div class="{{ classNames }}">
  <div class="nhsd-t-grid nhsd-t-grid--full-width nhsd-!t-no-gutters">
    <div class="nhsd-t-row nhsd-t-row--centred">
      <div class="{{ columnClassNames }}">
        <div class="nhsd-o-hero__content-box">
          <div class="nhsd-o-hero__content">
            <span class="{{ titleClassNames }}">{{ params.title.label|safe }}</span>
            <p class="{{ textClassNames }}">{{ params.text.label|safe }}</p>
            {%if params.button -%}
            {{ nhsd_a_button(params.button) }}
            {%- endif %}
            {%if params.buttonNav -%}
            {{ nhsd_m_button_nav(params.buttonNav) }}
            {%- endif %}
          </div>

          {% if params.colourBar -%}
            {{ nhsd_a_colour_bar() }}
          {%- endif %}
        </div>
      </div>
      {% if params.image -%}
      <div class="nhsd-t-col-s-6 nhsd-!t-no-gutters {{ 'nhsd-t-col-xs-12' if accented else 'nhsd-t-col-xs-11' }}">
        {{ nhsd_a_image(params.image) }}
      </div>
      {%- elif params.video %}
      <div class="nhsd-t-col-s-6 nhsd-!t-no-gutters {{ 'nhsd-t-col-xs-12' if accented else 'nhsd-t-col-xs-11' }}">
        <div class="nhsd-o-hero__iframe-wrapper">
          <iframe class="nhsd-o-hero__iframe" type="text/html" src="{{params.video}}" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  {% if params.digiblocks -%}
    {% for digiblocks in params.digiblocks %}
      {{ nhsd_a_digiblocks(digiblocks) }}
    {% endfor %}
  {%- endif %}
</div>
