{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button,
  nhsd_a_colour_bar,
  nhsd_a_digiblocks,
  nhsd_a_image
-%}

{#- Import molecule macros -#}
{%- from "../../../njk/macros/molecules.njk" import
  nhsd_m_button_nav
-%}

{#- Set classes -#}
{% set componentClassName = "nhsd-o-hero" %}
{% set classNames = componentClassName %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}
{%- set introTextClassNames = params.introText.classes if params.introText.classes else "nhsd-t-body-s" -%}
{%- set titleClassNames = params.title.classes if params.title.classes else "nhsd-t-heading-xxl nhsd-!t-margin-bottom-2" -%}
{%- set textClassNames = params.text.classes if params.text.classes else "nhsd-t-heading-s" -%}

{% if params.image and params.accented -%}
  {% if params.mirrored -%}
    {%- set classNames = classNames + " " + componentClassName + "--image-accented-mirrored" -%}
  {% else %}
    {%- set classNames = classNames + " " + componentClassName + "--image-accented" -%}
  {% endif %}
{% elif params.backgroundImage -%}
  {%- set classNames = classNames + " " + componentClassName + "--background-image" -%}
{% elif params.image -%}
    {%- set classNames = classNames + " " + componentClassName + "--image" -%}
{% endif %}
{% if params.leftAlign -%}
  {%- set classNames = classNames + " " + componentClassName + "--left-align" -%}
{% endif %}

<div class="{{ classNames }}">
  <div class="{{ componentClassName }}__content-container">
    <div class="{{ componentClassName }}__inner-content-container">
      {%- if params.introText -%}
      <p class="{{ introTextClassNames }}">{{ params.introText.text|safe }}</p>
      {%- endif -%}
      <span class="{{ titleClassNames }}">{{ params.title.label|safe }}</span>
      {%- if params.text -%}
      <p class="{{ textClassNames }}">{{ params.text.label|safe }}</p>
      {%- endif -%}

      {% if params.metaData -%}
        {% set metaDataClassName = componentClassName + "__meta-data" %}
        {%- if params.metaData.classes -%}
          {% set metaDataClassName = metaDataClassName + " " + params.metaData.classes -%}
        {%- endif -%}

        <dl class="{{ metaDataClassName }}">
          {% for metaItem in params.metaData.data -%}
          <div class="{{ componentClassName }}__meta-data-item">
            <dt class="{{ componentClassName }}__meta-data-item-title">{{ metaItem.title }}</dt>
            <dd class="{{ componentClassName }}__meta-data-item-description">{{ metaItem.description }}</dd>
          </div>
          {% endfor -%}
        </dl>
      {% endif -%}

      <div>
        {%if params.button -%}
        {{ nhsd_a_button(params.button) }}
        {%- endif %}
        {%if params.buttonNav -%}
        {{ nhsd_m_button_nav(params.buttonNav) }}
        {%- endif %}
      </div>
    </div>
  </div>

  {% if imageBanner or params.image or params.video -%}
    <div class="{{ componentClassName }}__image-container">
      {% if params.image -%}
        {{ nhsd_a_image(params.image) }}
      {% elif params.imageBanner -%}
        {{ nhsd_a_image(params.imageBanner) }}
      {%- elif params.video %}
        <div class="{{ componentClassName }}__iframe-wrapper">
          <iframe class="{{ componentClassName }}__iframe" type="text/html" src="{{params.video}}" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
        </div>
      {%- endif %}
    </div>
  {%- endif -%}

  {% if params.colourBar -%}
    {{ nhsd_a_colour_bar() }}
  {%- endif %}

  {% if params.digiblocks -%}
    {% for digiblocks in params.digiblocks %}
      {{ nhsd_a_digiblocks(digiblocks) }}
    {% endfor %}
  {%- endif %}
</div>
