// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/vars";

// Helpers
@use "scss-core/helpers/colours" as nhsd-colours;

// Base
@use "scss-core/base/utils";

// Media Queries and breakpoints
@use "sass-mq/mq";

// Private properties
$-root: ".nhsd-a-button";
$active-state-push-down: .111rem;

#{$-root} {
  @include utils.box-sizing;
  display: inline-flex;
  position: relative;
  max-width: 15.55rem;
  margin-bottom: 1.78rem;
  padding: .69rem 1.04rem;
  border: .12rem solid nhsd-colours.get("blue");
  border-radius: 1.22rem;
  outline: 0;
  box-shadow: 0 0 0 .167rem transparent;

  font-family: vars.$font-family;
  font-size: .78rem;
  font-weight: 600;
  line-height: 1.11;

  text-align: center;
  text-decoration: none;
  vertical-align: text-bottom;
  cursor: pointer;
  appearance: none;
  user-select: none;

  transition-property: background-color, box-shadow, border-color;
  transition-duration: vars.$transition-duration;

  &__label {
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:disabled,
  &--disabled {
    opacity: .7;
    cursor: not-allowed;
  }

  &:not(:disabled):not(&--disabled) {
    &:focus,
    &:hover {
      box-shadow: 0 0 0 .167rem nhsd-colours.get("yellow");
    }

    &:active {
      transition-property: none;
      transform: translateY($active-state-push-down);
      box-shadow: 0 0 0 .167rem transparent;
    }
  }

  &:not(&--invert):not(&--outline):not(&--outline-start):not(&--outline-cancel) {
    &,
    &:visited {
      color: nhsd-colours.get("white");
      background: nhsd-colours.get("blue");
    }

    &:active {
      background: nhsd-colours.get("blue");
      box-shadow: 0 0 0 .167rem transparent;
    }

    &:not(:disabled):not(#{$-root}--disabled) {
      &:focus,
      &:hover {
        border-color: nhsd-colours.get("dark-blue");
        background: nhsd-colours.get("dark-blue");
      }

      &:active {
        border-color: nhsd-colours.get("blue");
        background: nhsd-colours.get("blue");
        transition-property: none;
      }
    }
  }

  &--start {
    color: nhsd-colours.get("white");
    background: nhsd-colours.get("green");
  }

  &--cancel {
    color: nhsd-colours.get("white");
    background: nhsd-colours.get("red");
  }

  &--invert {
    border-color: nhsd-colours.get("white");
    color: nhsd-colours.get("blue");
    background: nhsd-colours.get("white");
  }

  &--outline {
    color: nhsd-colours.get("blue");

    &:not(:disabled):not(#{$-root}--disabled) {
      &:focus,
      &:hover {
        border-color: nhsd-colours.get("black");
      }

      &:active {
        border-color: nhsd-colours.get("blue");
      }
    }

    &,
    &-cancel,
    &-start {
      background: nhsd-colours.get("white");

      &:active {
        border-color: nhsd-colours.get("blue");
        box-shadow: 0 0 0 .167rem transparent;
      }
    }

    &-cancel,
    &-start {
      color: nhsd-colours.get("black");
    }

    &-cancel {
      &,
      &:active {
        border-color: nhsd-colours.get("red");
      }
    }

    &-start {
      &,
      &:active {
        border-color: nhsd-colours.get("green");
      }
    }
  }

  @include mq.mq($until: tablet) {
    width: 100%;
  }
}
