{# Set classes #}
{%- set classNames = "nhsd-a-button" -%}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}
{%- if params.disabled -%}
  {% set classNames = classNames + " nhsd-a-button--disabled" %}
{%- endif -%}

{# Set label #}
{%- set label = "Simple button" -%}
{%- if params.label -%}
  {% set label = params.label %}
{%- endif -%}

{%- if params.el == 'a' %}
  {# Set URL and target #}
  {%- set href="#" -%}
  {%- set target = "" -%}
  {%- if params.href -%}
    {%- set href = params.href -%}
  {%- endif -%}
  {%- if params.target and params.target == '_blank' -%}
    {%- set target = params.target -%}
  {%- endif -%}
<a class="{{ classNames }}" href="{{ href }}" {%- if target.length %} target="{{ target }}" rel="external" {% endif -%}>
  <span class="nhsd-a-button__label">{{ label }}</span>
  {% if target.length %}<span class="nhsd-u-sr-only"> (external link, opens in a new tab)</span>{% endif %}
</a>
{% elseif params.el == 'input' %}
<input type="submit" value="{{ label }}" class="{{ classNames }}" {%- if params.disabled %} disabled="disabled" aria-disabled="true"{% endif -%}/>
{% elseif params.el == 'span' %}
<span class="{{ classNames }}">
  <span class="nhsd-a-button__label">{{ label }}</span>
</span>
{% else %}
<button class="{{ classNames }}" type="button" {%- if params.disabled %} disabled="disabled" aria-disabled="true"{% endif -%}>
  <span class="nhsd-a-button__label">{{ label }}</span>
</button>
{% endif -%}
