// Settings
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/utils" as nhsd-utils;

// Private members
$-root: ".nhsd-a-image";

#{$-root} {
  @include nhsd-utils.box-sizing;

  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;

  &__picture {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: (9 / 16 * 100) * 1%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--cover {
    width: 100%;
    height: 100%;

    #{$-root}__picture {
      height: 100%;
      padding: 0;
    }

    img {
      object-fit: cover;
    }
  }

  &--position-left {
    img {
      object-position: left center;
    }
  }

  &--position-right {
    img {
      object-position: right center;
    }
  }

  &--position-top {
    img {
      object-position: top center;
    }
  }

  &--position-bottom {
    img {
      object-position: bottom center;
    }
  }

  &--square {
    #{$-root}__picture {
      padding-bottom: 100%;
    }
  }

  &--round-corners {
    #{$-root}__picture {
      border-radius: vars.$border-radius;
    }
  }

  &--round-top-corners {
    #{$-root}__picture {
      border-radius: vars.$border-radius vars.$border-radius 0 0;
    }
  }
}
