{# Set classes #}
{%- set classNames = "nhsd-a-image" -%}
{%- if params.classes -%}
  {%- set classNames = classNames + " " + params.classes -%}
{%- endif -%}

{%- if params.exampleContainer -%}
<div class="cover-image-example-container">
{%- endif -%}

{%- set title = "" %}
{%- if params.title -%}
  {%- set title = 'title="' + params.title + '"' %}
{%- endif -%}

{%- if params.caption %}
<figure {%- if params.ariaHidden %} aria-hidden="true" {%- endif %}>
{% endif -%}

{%- if params.ratio %}<div class="{{ params.ratio }}">{%- endif -%}

{%- if params.sourceSet and params.alt %}
  <picture class="{{ classNames }} {{ 'nhsd-!t-margin-bottom-2' if params.caption else '' }}" {{ title|safe }}>
  {%- for source in params.sourceSet %}
  {%-if source.media %}
    <source media="{{ source.media }}" srcset="{{ source.url }}">
  {%- endif -%}
  {%- if source.last or  not source.media %}
    <img src="{{ source.url }}" alt="{{ params.alt }}">
  {% endif -%}
  {% endfor -%}
  </picture>
{% else -%}
  {%- if params.src and params.alt %}
    <img class="{{ classNames }}" src="{{ params.src }}" alt="{{ params.alt }}">
  {% endif -%}
{% endif -%}

{%- if params.ratio %}</div>{%- endif -%}

{%- if params.caption %}
<figcaption>{{ params.caption }}</figcaption>
</figure>
{% endif -%}

{%- if params.exampleContainer -%}
</div>
{%- endif -%}