// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/transition" as nhsd-transition;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/button";

// Private members
$-root: ".nhsd-m-button-nav";

#{$-root} {
  display: block;
  position: relative;
  text-align: center;

  .nhsd-a-button {
    margin-bottom: 0;
    vertical-align: top;

    &:not(:last-child) {
      @include nhsd-spacing.set-responsive("margin-right", 6);
    }
  }

  &--condensed {
    .nhsd-a-button {
      &:not(:last-child) {
        @include nhsd-spacing.set-responsive("margin-right", 2);
      }
    }
  }

  @include mq($until: s) {
    &:not(&--non-responsive) {
      .nhsd-a-button {
        display: inline-flex;
        width: 100%;
        margin: 0 nhsd-spacing.get(2);
        margin-bottom: nhsd-spacing.get(2);

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.nhsd-\!t-text-align-left {
      &:not(&--non-responsive) {
        .nhsd-a-button {
          margin-left: 0;
        }
      }
    }
  }
  @include mq($until: xs) {
    &:not(&--non-responsive) {
      .nhsd-a-button {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
