// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/picture";

// Private members
$-root: ".nhsd-m-graphic-block";

#{$-root} {
  @include nhsd-utils.text-align(center);

  position: relative;

  &__picture {
    margin: 0 auto nhsd-spacing.get(3);
  }

  .nhsd-a-link {
    display: inline-block;

    &,
    &:visited {
      [class^="nhsd-t-heading-"] {
        color: nhsd-colours.get("blue");
      }

      .nhsd-a-icon {
        svg {
          fill: nhsd-colours.get("blue");
        }
      }
    }

    &:focus,
    &:hover {
      [class^="nhsd-t-heading-"] {
        color: inherit;
      }

      .nhsd-a-icon {
        svg {
          fill: nhsd-colours.get("black");
        }
      }
    }

    &:active {
      .nhsd-a-icon {
        svg {
          fill: nhsd-colours.get("blue");
        }
      }
    }
  }

  &__heading {
    max-width: 100%;
    margin-bottom: nhsd-spacing.get(2);

    &:not(.nhsd-a-link) {
      padding-bottom: 3px;
    }
  }

  [class^="nhsd-t-heading"],
  [class^="nhsd-t-body"] {
    margin: 0 auto;
  }

  .nhsd-a-icon {
    margin-left: nhsd-spacing.get(1);
  }

  @include mq($from: 30em, $until: s) {
    &__picture {
      max-width: 70%;
    }

    [class^="nhsd-t-body"] {
      max-width: 70%;
    }
  }
}
