// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/image";

// Private members
$-root: ".nhsd-m-graphic-block";

#{$-root} {
  @include nhsd-utils.text-align(center);

  position: relative;

  &__picture {
    margin: 0 auto nhsd-spacing.get(3);
  }

  &__heading {
    margin: 0 auto nhsd-spacing.get(2);
  }

  [class^="nhsd-t-heading"],
  [class^="nhsd-t-body"] {
    margin: 0 auto;
  }

  .nhsd-t-heading-xl {
    @include nhsd-utils.clamped-text(1);
  }

  .nhsd-t-heading-xs {
    @include nhsd-utils.clamped-text(2);
  }

  [class^="nhsd-t-body"] {
    @include nhsd-utils.clamped-text(3);
  }

  .nhsd-a-icon {
    margin-left: nhsd-spacing.get(1);
  }

  @include mq($from: 30em, $until: s) {
    &__picture,
    &__heading,
    [class^="nhsd-t-body"] {
      max-width: 70%;
    }
  }
}
