{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_icon,
  nhsd_a_image
-%}

{#- Set classes -#}
{% set classNames = "nhsd-m-graphic-block" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}
{% set hasLink = params.link and params.link.href %}

<div class="{{ classNames }}">
  {% if params.image -%}
    <div class="nhsd-m-graphic-block__picture">
    {{ nhsd_a_image(params.image) }}
    </div>
  {%- endif %}

  <div class="nhsd-m-graphic-block__heading">
    <span class="nhsd-t-heading-xl nhsd-!t-margin-bottom-0">
      {{ params.title.p1|safe }}
      {%- if params.icon -%}
      {{ nhsd_a_icon(params.icon) }}
      {%- endif -%}
    </span>
    <span class="nhsd-t-heading-xs">{{ params.title.p2|safe }}</span>
  </div>

  <p class="nhsd-t-body-s">{{ params.text|safe }}</p>
  {% if hasLink -%}
  <div class="nhsd-!t-margin-top-3 nhsd-!t-margin-bottom-3">
    <a class="nhsd-a-link" href="{{ params.link.href }}">
      <span class="nhsd-a-link__label nhsd-t-body-s">{{ params.link.label }}</span>
    </a>
  </div>
  {%- endif %}
</div>
