// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/transition" as nhsd-transition;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/box";
@use "../../atoms/document-icon";
@use "../../atoms/icon";
@use "../../atoms/link";
@use "../../atoms/tag";

// Private members
$-root: ".nhsd-m-download-card";
$-box-padding: 1.222rem;

#{$-root} {
  display: block;
  position: relative;
  min-height: vars.$min-card-height;

  .nhsd-a-box {
    display: flex;
    padding: $-box-padding * .8 $-box-padding $-box-padding;
  }

  .nhsd-a-tag {
    position: absolute;
    top: 0;

    & + *:nth-of-type(1) {
      margin-top: .75rem;
    }
  }

  &__meta-tags {
    .nhsd-a-tag {
      position: relative;
    }
  }

  .nhsd-a-icon {
    margin-top: nhsd-spacing.get(3);
  }

  &__image-box {
    display: block;
    padding-top: .45rem;
    flex: 0 0 5rem;
    order: 1;
    overflow: hidden;
    text-align: center;

    &.small {
      flex-basis: 3rem;
      padding-top: 0;
    }

    @include mq($until: s) {
      padding-top: .3rem;
      flex: 0 0 3rem;
    }

    & + #{$-root}__content-box {
      padding-left: $-box-padding;
    }
  }

  &__content-box {
    display: flex;
    flex-grow: 1;
    order: 2;
    flex-direction: column;

    &.small {
      margin-top: -(nhsd-spacing.get(1));
      padding-left: 0;
    }
  }

  &__arrow-icon-box {
    display: flex;
    flex-grow: 1;
    padding-left: nhsd-spacing.get(2);
    order: 3;
    flex-direction: column;

    .nhsd-a-icon {
      margin-top: 0;
      margin-right: nhsd-spacing.get(3);
      align-self: flex-end;
    }
  }

  [class^="nhsd-t-heading"] {
    margin-bottom: nhsd-spacing.get(2);
    color: nhsd-colours.get("black");
  }

  [class^="nhsd-t-body"] {
    max-width: 44.444rem;
    margin: 0 0 .8rem;
    color: nhsd-colours.get("dark-grey");

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
