{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_box_start,
  nhsd_a_box_end,
  nhsd_a_document_icon,
  nhsd_a_icon,
  nhsd_a_tag
-%}

{#- Set classes -#}
{%- set classNames = "nhsd-m-download-card" -%}
{%- if params.classes -%}
  {%- set classNames = classNames + " " + params.classes -%}
{%- endif -%}

{#- Define ARIA attributes -#}
{% set ariaLabel = params.title %}
{%- if params.button.label -%}
  {% set ariaLabel = ariaLabel + " - " + params.button.label %}
{%- endif -%}
{%- if params.boxLink and params.boxLink.external -%}
  {% set ariaLabel = ariaLabel + " (external link, opens in a new tab)" %}
{%- endif -%}
{% set ariaAttributes %} aria-label="{{ ariaLabel }}" {% endset %}

{#- Define Box link attributes -#}
{%- if params.boxLink -%}
  {%- set boxLinkClassNames = "nhsd-a-box-link" %}
  {% if params.boxLink.classes -%}
  {%- set boxLinkClassNames = boxLinkClassNames + " " + params.boxLink.classes -%}
  {%- endif %}
{%- endif -%}

<div class="{{ classNames }}">
  {% if params.boxLink -%}
  <a href="{{ params.boxLink.href }}" class="{{ boxLinkClassNames }}" {%- if params.boxLink.external %} target="_blank" rel="external" {% endif -%} {{- ariaAttributes | safe }}>
  {%- endif %}
  {{ nhsd_a_box_start(params.box.classes) }}
    {%- if params.documentIconId -%}
    <div class="nhsd-m-download-card__image-box">
      {{ nhsd_a_document_icon({ id: params.documentIconId }) }}
    </div>
    {%- endif -%}

    <div class="nhsd-m-download-card__content-box">
      {%- if params.tag %}
        {{ nhsd_a_tag(params.tag) }}
      {% endif -%}

      {%- if params.title -%}
      <h1 class="nhsd-t-heading-s {{ params.title.classes }}">{{ params.title.label }}</h1>
      {%- endif -%}

      {% if params.text -%}
      <p class="nhsd-t-body-s">{{ params.text.label }}</p>
      {%- endif %}

      {% if params.metaTags -%}
      <div class="nhsd-m-download-card__meta-tags">
        {% for tag in params.metaTags %}
          {{ nhsd_a_tag(tag) }}
        {% endfor %}
      </div>
      {%- endif %}

      {%- if params.arrowIcon -%}
        {{ nhsd_a_icon(params.arrowIcon) }}
      {%- endif -%}
    </div>
  {{ nhsd_a_box_end() }}
  {%- if params.boxLink %}
  </a>
  {% endif -%}
</div>

