{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_link,
  nhsd_a_picture
-%}

{#- Set classes -#}
{% set headingClassNames = "nhsd-t-heading-s" %}
{%- if params.headingClass -%}
  {% set headingClassNames = params.headingClass %}
{%- endif -%}

<div class="nhsd-m-picture-with-link">
  {{ nhsd_a_picture(params.picture) }}
  <div class="{{ headingClassNames }}">
    {{ nhsd_a_link(params.link) }}
  </div>
</div>
