// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/transition" as nhsd-transition;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/menu-item";

// Private members
$-root: ".nhsd-m-menu-bar";

@mixin mobile-menu {
  #{$-root} {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 36rem;
    padding: 0 nhsd-spacing.get(7);

    .nhsd-a-menu-item {
      display: flex;
      position: relative;
      width: 100%;
      padding: nhsd-spacing.get(3) 0;
      border-radius: vars.$border-radius;
      justify-content: space-between;

      &:not(:first-child) {
        margin-top: -1 * menu-item.$active-border-width;
        margin-left: 0;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          border-bottom: vars.$base-line-thickness solid nhsd-colours.get("mid-grey-20-tint");
        }
      }

      &:after {
        content: none;
      }

      .nhsd-a-icon {
        display: block;

        & > svg {
          fill: nhsd-colours.get("dark-grey");
        }
      }

      &:hover,
      &:focus,
      &.js-active {
        color: nhsd-colours.get("black");
        background: nhsd-colours.get("yellow-20-tint");
        box-shadow: inset 0 0 0 menu-item.$active-border-width nhsd-colours.get("yellow");

        &:before,
        & + .nhsd-a-menu-item:before {
          border-bottom: vars.$base-line-thickness solid transparent;
        }

        .nhsd-a-menu-item__label {
          transform: translateX(menu-item.$icon-hover-offset);
        }

        .nhsd-a-icon {
          transform: translateX(-1 * menu-item.$icon-hover-offset);

          & > svg {
            fill: nhsd-colours.get("black");
          }
        }
      }
    }
  }
}

#{$-root} {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
}

// Enhanced, JS version
html:not(.nhsd-no-js) {
  .nhsd-a-menu-item {
    &:not(:first-child) {
      margin-left: nhsd-spacing.get(4);

      @include mq($until: l) {
        margin-left: nhsd-spacing.get(3);
      }
    }
  }

  @include mq($until: m) {
    @include mobile-menu;
  }

  .nhsd-o-global-header--mobile-menu {
    @include mobile-menu;
  }
}

// Non-JS version
// stylelint-disable selector-no-qualifying-type
html.nhsd-no-js {
  @include mq($until: m) {
    .nhsd-a-menu-item {
      display: inline-flex;
      width: 100%;
      margin-right: 0;
      align-items: justify;

      &:not(:last-child) {
        margin-bottom: nhsd-spacing.get(3);
      }
    }
  }
}
// stylelint-enable selector-no-qualifying-type
