// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/transition" as nhsd-transition;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/menu-item" as menu-item;

// Private members
$-root: ".nhsd-m-menu-bar";

@mixin mobile-menu {
  #{$-root} {
    flex-direction: column;
    width: 100%;
    max-width: 36rem;

    .nhsd-a-menu-item {
      display: flex;
      justify-content: space-between;
      @include menu-item.mobile-menu-item;

      .nhsd-a-icon {
        & > svg {
          fill: nhsd-colours.get("dark-grey");
        }
      }
    }
  }
}

#{$-root} {
  display: inline-flex;
  flex-wrap: nowrap;
  position: relative;
}

// Enhanced, JS version
html:not(.nhsd-no-js) {
  @include mq($until: m) {
    @include mobile-menu;
  }

  .nhsd-o-global-header--mobile-menu {
    @include mobile-menu;
  }
}

// Non-JS version
// stylelint-disable selector-no-qualifying-type
html.nhsd-no-js {
  #{$-root} {
    width: 100%;
    flex-wrap: wrap;
  }

  @include mq($until: m) {
    .nhsd-a-menu-item {
      display: inline-flex;
      width: 100%;
      margin-right: 0;
      align-items: justify;

      &:not(:last-child) {
        margin-bottom: nhsd-spacing.get(3);
      }
    }
  }
}
// stylelint-enable selector-no-qualifying-type
