{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_menu_item
-%}

{#- Set classes -#}
{%- set classNames = "nhsd-m-menu-bar" -%}
{%- if params.classes -%}
  {%- set classNames = classNames + " " + params.classes -%}
{%- endif -%}

<nav class="{{ classNames }}">
    {% for link in params.links -%}
      <div class="nhsd-m-menu-bar__item" >
        {{ nhsd_a_menu_item(link) }}
      </div>
    {%- endfor %}
</nav>
