// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Private members
$-root: ".nhsd-o-filter-menu";

#{$-root} {
  &__filter-button {
    display: none;
    @include nhsd-spacing.set-responsive("margin-top", 5);
  }
}

.nhsd-no-js {
  #{$-root}__filter-button {
    display: block;
  }
}
