// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Private members
$-root: ".nhsd-o-filter-menu";

#{$-root} {
  &__search-bar {
    .nhsd-m-search-bar {
      max-width: 100%;
      padding: 0;

      .nhsd-t-form {
        .nhsd-t-form-group {
          max-width: 100%;
          margin-bottom: 0;

          .nhsd-t-form-input {
            height: nhsd-spacing.get(7);
          }
        }
      }
    }
  }
}
