// Built in modules
@use "sass:map";

// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/_z-index";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/transition" as nhsd-transition;

// Component imports
@use "../../atoms/menu-item" as menu-item;

// Private members
$-root: ".nhsd-o-global-header";

@mixin visible-fullscreen-content($parent) {
  #{$parent} {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 152px (vars.$small-gutter * 2) 2rem;
    overflow-y: auto;
  }

  #{$parent}-background {
    display: block;
  }

  #{$parent}-content-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    width: 100%;
    max-width: 36rem;
  }

  #{$parent}-close-button {
    display: inline-flex;
  }
}

#{$-root} {
  display: block;
  position: relative;
  height: 102px;
  background: nhsd-colours.get("white");
  @include z-index.get('global-header');

  &__search-content-box {
    position: relative;
    padding: 20px;
  }

  &__menu-content-box {
    height: 100%;
  }

  &__header-section {
    position: relative;
    width: 100%;
    text-align: left;
  }

  .nhsd-a-horizontal-rule {
    position: relative;
    @include z-index.get('global-header');
  }

  &--mega-menu-active {
    &:before {
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background: nhsd-colours.get("white");
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: nhsd-colours.get("white");
      @include z-index.get('mega-menu');
    }

    .nhsd-a-menu-item {
      &__label {
        .nhsd-a-icon svg {
          transform: rotate(180deg);
        }
      }
    }

    #{$-root}__mega-menu {
      display: block;

      @include mq($from: m) {
        @include nhsd-utils.apply-shadow(3);
      }

      .nhsd-m-menu-bar {
        display: flex;
      }
    }

    @include mq($from: m) {
      .nhsd-a-horizontal-rule {
        z-index: 0;
        border-color: nhsd-colours.get("mid-grey");
      }
    }
  }

  @include mq($from: m) {
    &:before {
      background: rgba(0, 0, 0, .45);
    }
  }

  &__mega-menu {
    display: none;
    position: absolute;
    top: 102px;
    right: nhsd-spacing.get(-7);
    left: nhsd-spacing.get(-7);
    background: nhsd-colours.get("blue");
    @include z-index.get('mega-menu');

    .nhsd-m-menu-bar {
      display: flex;
      min-height: 300px;
      flex-wrap: nowrap;
      flex-direction: column;
      margin-right: nhsd-spacing.get(4);

      @include mq($from: m) {
        flex-wrap: wrap;
        max-height: 350px;

        .nhsd-a-menu-item {
          @include menu-item.mobile-menu-item;
          display: flex;
          justify-content: space-between;
          width: calc(50% - #{nhsd-spacing.get(4)});
          height: 56px;
          margin-right: nhsd-spacing.get(4);
          padding: 0;

          &:before {
            border-top: none;
            border-color: nhsd-colours.get("bright-blue");
          }

          .nhsd-a-menu-item__label {
            border: none;
            color: nhsd-colours.get("white");
          }

          .nhsd-a-icon > svg {
            fill: nhsd-colours.get("white");
          }

          &:hover,
          &:focus {
            background: none;
            box-shadow: none;

            &:before {
              border-top: none;
              border-color: nhsd-colours.get("bright-blue");
            }

            .nhsd-a-menu-item__label {
              background: none;
            }

            .nhsd-a-icon > svg {
              fill: nhsd-colours.get("white");
            }
          }
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background: rgba(0, 0, 0, .2);
    }

    @include mq($until: m) {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      max-width: 36rem;
      margin: 0 auto;
      padding: 50px 0 0;
      background: nhsd-colours.get("white");
      @include z-index.get('mega-menu-mobile');

      &:after {
        content: none;
      }
    }
  }

  &__mega-menu-content {
    display: none;

    @include mq($from: m) {
      padding-right: 50%;
      padding-bottom: nhsd-spacing.get(8);
      padding-left: nhsd-spacing.get(8);
    }

    &--active {
      display: block;
      position: relative;
    }
  }

  &__mega-menu-image {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;

    @include mq($until: m) {
      display: none;
    }
  }

  &__mega-menu-buttons {
    display: flex;
    position: relative;
    justify-content: space-between;

    @include mq($from: m) {
      padding: nhsd-spacing.get(4) nhsd-spacing.get(8);
      padding-bottom: 0;
      justify-content: flex-end;
    }
  }

  &__mega-menu-close-button,
  &__mega-menu-back-button {
    margin-bottom: nhsd-spacing.get(4);

    @include mq($from: m) {
      &,
      &:active {
        color: nhsd-colours.get("white");

        .nhsd-a-icon > svg {
          fill: nhsd-colours.get("white");
        }
      }
    }
  }

  &__mega-menu-close-button {
    margin-right: nhsd-spacing.get(-1);
  }

  &__mega-menu-back-button {
    margin-left: nhsd-spacing.get(-1);

    @include mq($from: m) {
      display: none;
    }
  }

  label {
    &#{$-root}__search-label {
      display: inline;
      line-height: 42px;
    }
  }

  .nhsd-t-grid,
  .nhsd-t-row,
  .nhsd-t-col {
    position: relative;
    height: 100%;
  }

  .nhsd-m-search-bar {
    margin-top: 6px;
    padding: 0;
  }

  &__background {
    display: block;
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: nhsd-colours.get("white");
  }

  &__content-box {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include z-index.get('global-header');
  }

  &__button-nav {
    display: inline-flex;
    position: relative;
    z-index: 20;
    order: 3;
  }

  &__logo {
    margin-left: -.2rem;
  }

  &__logo-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: nhsd-spacing.get(2) 0;
    order: 1;
    @include z-index.get('global-header');

    @include mq($until: m) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__menu,
  &__search {
    text-align: center;

    &-background {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200%;
      background: nhsd-colours.get("white");
    }

    &-content-box {
      display: flex;
      justify-content: center;
    }

    &-close-button {
      display: none;
      position: relative;
      margin: 0;
      margin-right: nhsd-spacing.get(-1);
      margin-bottom: nhsd-spacing.get(4);
      float: right;
    }
  }

  &__product-name {
    @include nhsd-fonts.font-weight(bold);
    order: 2;
    z-index: 15;
    margin-left: nhsd-spacing.get(4);
    color: nhsd-colours.get('black');

    @include mq($until: l) {
      margin-left: nhsd-spacing.get(3);
    }

    @include mq($until: m) {
      margin-left: 0;
    }
  }

  &__menu {
    z-index: 15;
    order: 2;
    flex-grow: 1;
    height: 100%;

    padding: 0 nhsd-spacing.get(2);

    @include mq($from: l) {
      padding: 0 nhsd-spacing.get(4);
    }
  }

  &__search {
    display: none;
    z-index: 4;
  }

  @include mq($from: m) {
    #{$-root}__menu-button {
      display: none;
    }

    &--mobile-menu {
      #{$-root}__menu-button {
        display: inline-block;
      }

      #{$-root}__menu {
        display: none;
      }
    }
  }

  &.js-search-active {
    @include visible-fullscreen-content(#{$-root}__search);
  }

  @include mq($until: m) {
    &.js-menu-active {
      @include visible-fullscreen-content(#{$-root}__menu);

      #{$-root}__menu {
        z-index: 10;
      }
    }
  }

  &--product-header {
    #{$-root}__menu-content-box {
      justify-content: flex-end;
    }
  }
}

// stylelint-disable selector-no-qualifying-type
.nhsd-no-js {
  #{$-root} {
    height: auto;

    &__content-box {
      flex-wrap: wrap;
    }

    &__menu-content-box {
      height: auto;
      justify-content: start;
    }

    &__button-nav {
      order: 2;
    }

    &__menu {
      margin-top: nhsd-spacing.get(3);
      flex: 0 1 100%;
      order: 3;
      padding: 0;
    }

    &__menu-button {
      display: none;
    }
  }
}
// stylelint-enable selector-no-qualifying-type

@include mq($until: m) {
  html:not(.nhsd-no-js) {
    #{$-root}__menu {
      display: none;
    }
  }
}
