// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/form" as nhsd-form;
@use "scss-core/tokens/grid" as nhsd-grid;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/horizontal-rule";
@use "../../molecules/button-nav";
@use "../../molecules/logo-link";

// Private members
$-root: ".nhsd-o-global-header";

@mixin visible-fullscreen-content($parent) {
  #{$parent} {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 9rem 0 2rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  #{$parent}-background {
    display: block;
  }

  #{$parent}-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 36rem;
  }

  #{$parent}-close-button {
    display: inline-flex;
  }
}

#{$-root} {
  display: block;
  position: relative;
  z-index: 10000;

  &__background {
    display: block;
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: nhsd-colours.get("white");
  }

  &__content-box {
    display: flex;
    position: relative;
    padding: 1rem 0 0;
    justify-content: space-between;
    align-items: center;
  }

  &__button-nav {
    display: inline-block;
    position: relative;
    z-index: 20;
    order: 3;
  }

  .nhsd-a-horizontal-rule,
  &__logo {
    position: relative;
    z-index: 20;
    order: 1;
  }

  &__menu,
  &__search {
    text-align: center;

    &-background {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 200%;
      background: nhsd-colours.get("white");
    }

    &-content-box {
      display: flex;
    }

    &-close-button {
      display: none;
      position: relative;
      margin: 0 calc(#{nhsd-spacing.get(7)} - .3rem) nhsd-spacing.get(6) 0;
    }
  }

  &__menu {
    z-index: 15;
    order: 2;
  }

  &__search {
    display: none;
    z-index: 5;
  }

  @include mq($from: m) {
    #{$-root}__menu-button {
      display: none;
    }
  }

  &.js-search-active {
    @include visible-fullscreen-content(#{$-root}__search);
  }

  &.js-menu-active {
    @include visible-fullscreen-content(#{$-root}__menu);

    #{$-root}__menu {
      z-index: 10;
    }
  }

  &__mega-menu {
    display: none;
    background: nhsd-colours.get("accessible-blue");

    &-close {
      padding: nhsd-spacing.get(3) 0;
      text-align: end;
    }

    &-list {
      @include mq($from: t) {
        column-count: 2;
        width: 100%;
      }
    }

    &__image {
      .nhsd-a-image__picture {
        border-radius: vars.$border-radius 0 0 0;
      }

      height: 100%;
    }

    &-back {
      display: none;
      padding: nhsd-spacing.get(3) 0 nhsd-spacing.get(3) nhsd-spacing.get(4);
    }

    .nhsd-t-row {
      align-items: flex-end;
    }

    .nhsd-t-col-6 {
      margin-bottom: auto;
    }

    .nhsd-t-col-8 {
      margin-bottom: auto;
    }
  }
}

// stylelint-disable selector-no-qualifying-type
html.nhsd-no-js {
  #{$-root} {
    &__content-box {
      flex-wrap: wrap;
    }

    &__button-nav {
      order: 2;
    }

    &__menu {
      margin-top: nhsd-spacing.get(3);
      flex: 0 1 100%;
      order: 3;
    }

    &__menu-button {
      display: none;
    }
  }
}
// stylelint-enable selector-no-qualifying-type

@include mq($until: l) {
  html:not(.nhsd-no-js) {
    #{$-root} {
      &__mega-menu {
        .nhsd-a-image__picture {
          display: none;
        }
      }
    }
  }
}

@include mq($until: m) {
  html:not(.nhsd-no-js) {
    #{$-root}:not(.js-menu-active) {
      #{$-root}__menu {
        display: none;
      }
    }

    #{$-root} {
      &__mega-menu {
        &-back {
          display: block;
          margin-right: auto;
        }

        &-close {
          padding-right: nhsd-spacing.get(3);
        }

        .nhsd-t-col-12 {
          display: flex;
          padding: 0;
        }

        .nhsd-t-col-6 {
          width: 70%;
        }

        .nhsd-t-col-8 {
          width: 70%;
        }

        .nhsd-t-row {
          padding: 0 nhsd-spacing.get(10);
        }
      }
    }
  }
}

@include mq($until: s) {
  html:not(.nhsd-no-js) {
    #{$-root} {
      .nhsd-t-col-6 {
        width: 100%;
      }

      .nhsd-t-col-8 {
        width: 100%;
      }

      .nhsd-t-row {
        padding: 0;
      }
    }
  }
}
