// Built in modules
@use "sass:map";

// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/form" as nhsd-form;
@use "scss-core/tokens/grid" as nhsd-grid;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/horizontal-rule";
@use "../../molecules/button-nav";
@use "../../molecules/logo-link";

// Private members
$-root: ".nhsd-o-global-header";

@mixin visible-fullscreen-content($parent) {
  #{$parent} {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 9rem 0 2rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  #{$parent}-background {
    display: block;
  }

  #{$parent}-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 36rem;
  }

  #{$parent}-close-button {
    display: inline-flex;
  }
}

#{$-root} {
  display: block;
  position: relative;
  z-index: 10000;

  &__background {
    display: block;
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: nhsd-colours.get("white");
  }

  &__content-box {
    display: flex;
    position: relative;
    padding: 1rem 0 calc(1rem - 4px);
    justify-content: space-between;
    align-items: center;
  }

  &__button-nav {
    display: inline-block;
    position: relative;
    z-index: 20;
    order: 3;
  }

  &__logo {
    margin-left: -.2rem;
  }

  .nhsd-a-horizontal-rule,
  &__logo-container {
    position: relative;
    z-index: 20;
    order: 1;
  }

  &__logo-container {
    display: flex;
    align-items: center;

    @include mq($until: m) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__menu,
  &__search {
    text-align: center;

    &-background {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 200%;
      background: nhsd-colours.get("white");
    }

    &-content-box {
      display: flex;
      justify-content: center;
    }

    &-close-button {
      display: none;
      position: relative;
      margin: 0 calc(#{nhsd-spacing.get(7)} - .3rem) nhsd-spacing.get(6) 0;
    }
  }

  &__product-name {
    @include nhsd-fonts.font-weight(bold);
    order: 2;
    z-index: 15;
    margin-left: nhsd-spacing.get(4);
    color: nhsd-colours.get('black');

    @include mq($until: l) {
      margin-left: nhsd-spacing.get(3);
    }

    @include mq($until: m) {
      margin-left: 0;
    }
  }

  &__menu {
    z-index: 15;
    order: 2;
    flex-grow: 1;

    padding: 0 nhsd-spacing.get(2);

    @include mq($from: l) {
      padding: 0 nhsd-spacing.get(4);
    }
  }

  &__search {
    display: none;
    z-index: 4;
  }

  @include mq($from: m) {
    #{$-root}__menu-button {
      display: none;
    }

    &--mobile-menu {
      #{$-root}__menu-button {
        display: inline-block;
      }

      #{$-root}__menu {
        display: none;
      }
    }
  }

  &.js-search-active {
    @include visible-fullscreen-content(#{$-root}__search);
  }

  &.js-menu-active {
    @include visible-fullscreen-content(#{$-root}__menu);

    #{$-root}__menu {
      z-index: 10;
    }
  }

  &--product-header {
    #{$-root}__menu-content-box {
      justify-content: flex-end;
    }

    .nhsd-t-grid {
      @include mq($from: m) {
        max-width: map.get(vars.$content-width, 'l');
      }
    }
  }
}

// stylelint-disable selector-no-qualifying-type
html.nhsd-no-js {
  #{$-root} {
    &__content-box {
      flex-wrap: wrap;
    }

    &__button-nav {
      order: 2;
    }

    &__menu {
      margin-top: nhsd-spacing.get(3);
      flex: 0 1 100%;
      order: 3;
    }

    &__menu-button {
      display: none;
    }
  }
}
// stylelint-enable selector-no-qualifying-type

@include mq($until: m) {
  html:not(.nhsd-no-js) {
    #{$-root}:not(.js-menu-active) {
      #{$-root}__menu {
        display: none;
      }
    }
  }
}
