// Built in modules
@use "sass:map";

// Settings
@use "scss-core/settings/media-queries" as *;
@use "scss-core/settings/vars";
@use "scss-core/settings/_z-index";

// Token
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/transition" as nhsd-transition;

// Private members
$-root: ".nhsd-o-chapter-navigation";

$-breakpoints: "xs", "s", "m", "l", "xl";

#{$-root} {
  .nhsd-a-box {
    display: flex;
    max-width: 100%;
    min-height: 130px;
    margin: 0 auto;
    padding: vars.$gutter vars.$gutter * 2;
    border-radius: 0;
    justify-content: space-between;
    background: none;

    @include mq($until: s) {
      padding: vars.$small-gutter vars.$small-gutter * 2;
    }

    @each $-breakpoint in $-breakpoints {
      @include mq($from: $-breakpoint) {
        max-width: map.get(vars.$content-width, $-breakpoint);
      }
    }
  }

  &__next-chapter,
  &__previous-chapter {
    display: flex;
    align-items: center;
    width: 33%;
  }

  &__current-chapter {
    display: block;
    width: 34%;
    text-align: center;

    @include mq($from: s) {
      &:first-child {
        margin-left: 33%;
      }

      &:last-child {
        margin-right: 33%;
      }
    }
  }

  @include mq($until: s) {
    .nhsd-a-box {
      display: block;
      justify-content: flex-start;
      flex-direction: column;
    }

    &__current-chapter,
    &__previous-chapter,
    &__next-chapter {
      width: 100%;
      padding: nhsd-spacing.get(2) 0;
    }

    &__current-chapter {
      text-align: left;
    }

    &__next-chapter {
      .nhsd-m-chapter__content {
        justify-content: flex-start;
      }

      .nhsd-m-chapter__link {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }

  @include mq($from: s) {
    &__current-chapter {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &:not(&--footer) {
      position: sticky;
      @include z-index.get('chapter-nav');
      top: 0;
    }
  }
}
