{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_box_start,
  nhsd_a_box_end,
  nhsd_a_horizontal_rule,
  nhsd_a_link
-%}

{#- Import molecules macros -#}
{%- from "../../../njk/macros/molecules.njk" import
  nhsd_m_chapter
-%}


{#- Set classes -#}
{% set classNames = "nhsd-o-chapter-navigation" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

<div class="{{ classNames }}">
  {{ nhsd_a_box_start(params.box.classes) }}
    <div class="nhsd-o-chapter-navigation__previous-chapter">
      {{ nhsd_m_chapter(params.previousChapter) }}
    </div>
    {%- if params.currentChapter -%}
      <div class="nhsd-o-chapter-navigation__current-chapter">
        <p class="nhsd-t-heading-xs nhsd-!t-margin-bottom-0">Current Chapter</p>
        <p class="nhsd-t-body-s nhsd-!t-margin-bottom-0">{{params.currentChapter.text}}</p>
        <div class="nhsd-!t-margin-bottom-0 nhsd-t-body-s">{{ nhsd_a_link( params.currentChapter.link ) }}</div>
      </div>
    {%- endif -%}
    <div class="nhsd-o-chapter-navigation__next-chapter">
      {{ nhsd_m_chapter(params.nextChapter) }}
    </div>
  {{ nhsd_a_box_end() }}
  {%- if params.horizontalLine -%}
    {{nhsd_a_horizontal_rule(params.horizontalLine)}}
  {%- endif -%}
</div>
