// stylelint-disable declaration-no-important

// Built in modules
@use "sass:map";

// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/spacing" as nhsd-spacing;

$-device-breakpoints: (xs,s,m,l,xl);

.nhsd-\!t-display {
  $-root: &;

  &-hide {
    display: none !important;
  }

  @each $-device in $-device-breakpoints {
    @include mq($from: $-device) {
      &-#{$-device}-hide {
        display: none !important;
      }

      &-#{$-device}-show {
        display: block !important;
      }

      &-#{$-device}-show-table {
        display: table !important;
      }

      &-#{$-device}-show-flex {
        display: flex !important;
      }
    }
  }

  &-sticky {
    position: sticky !important;
    top: 0;

    @include nhsd-spacing.apply-spacing(#{$-root}-sticky--offset, "top");
  }
}
