// stylelint-disable declaration-no-important

// Built in modules
@use "sass:map";

// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/utils" as nhsd-utils;

$-device-breakpoints: (xs,s,m,l,xl);

.nhsd-\!t-display {
  $-root: &;

  &-hide {
    display: none !important;
  }

  @each $-device in $-device-breakpoints {
    @include mq($from: $-device) {
      &-#{$-device}-hide {
        display: none !important;
      }

      &-#{$-device}-show {
        display: block !important;
      }

      &-#{$-device}-show-table {
        display: table !important;
      }

      &-#{$-device}-show-flex {
        display: flex !important;
      }
    }
  }

  &-sticky-offset-none {
    top: auto;
  }

  &-sticky {
    position: sticky !important;
    top: nhsd-spacing.get(4);
    max-height: calc(100vh - #{nhsd-spacing.get(4) * 2});

    &#{$-root}-sticky-offset-none {
      top: 0;
    }
  }
}

html:not(.nhsd-no-js) {
  .nhsd-\!t-display-no-js-show {
    display: none !important;
  }
}

.nhsd-no-js {
  .nhsd-\!t-display-no-js-hide {
    display: none !important;
  }
}
