// Built in modules
@use "sass:map";

// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/utils" as nhsd-utils;

// Private members
$-root: ".nhsd-t";
// Maximum content widths
$-xs-content-width: 18.611rem; // 335px
$-s-content-width: 38.222rem; // 688px
$-m-content-width: 52.444rem; // 944px
$-l-content-width: 71.111rem; // 1280px - 1240
$-xl-content-width: 83.333rem; // 1500px
// Breakpoint data
$-grid-data-map: (
  xs: (
    prefix: xs,
    columns: 2,
    breakpoints: (
      until: s
    )
  ),
  s: (
    prefix: s,
    columns: 6,
    breakpoints: (
      from: s,
      until: m
    )
  ),
  m: (
    prefix: m,
    columns: 12,
    breakpoints: (
      from: m
    )
  ),
  l: (
    prefix: l,
    columns: 12,
    breakpoints: (
      from: l
    )
  ),
  xl: (
    prefix: xl,
    columns: 12,
    breakpoints: (
      from: xl
    )
  )
);

// Public members
// =========================================================
// Variables
// =========================================================

$gutter: .833rem;
$small-gutter: .833rem * .667;

// Private members
%-column-base {
  width: 100%;
  padding: 0 $gutter;
  align-content: stretch;
  flex: 0 1 auto;
}

// Public members
// =========================================================
// Utility classes
// =========================================================

#{$-root} {
  &-grid {
    @include nhsd-utils.box-sizing;
    display: block;
    width: 100%;
    max-width: $-xs-content-width;
    margin: 0 auto;
    padding: 0 $gutter;

    &--full-width {
      max-width: 100%;
      padding-right: 0;
      padding-left: 0;
    }

    @include mq($until: s) {
      padding: 0 $small-gutter;

      [class^="nhsd-t-col-"] {
        padding-right: $small-gutter;
        padding-left: $small-gutter;
      }

      // TODO - In case we only want to have small gutters in the inside
      // #{$-root}-col-xs-1:nth-child(2n+1):not(#{$-root}-off-xs-1) {
      //   padding-right: $small-gutter;

      //   & + #{$-root}-col-xs-1 {
      //     padding-left: $small-gutter;
      //   }
      // }
    }

    &:not(&--full-width) {
      @include mq($from: xs) {
        max-width: $-s-content-width;
      }

      @include mq($from: s) {
        max-width: $-m-content-width;
      }

      @include mq($from: l) {
        max-width: $-l-content-width;
      }

      @include mq($from: xl) {
        max-width: $-xl-content-width;
      }
    }

    // Better grid visibility in demo
    &--debug {
      #{$-root}-row {
        background: nhsd-colours.get("yellow-10-tint");
      }

      [class^="nhsd-t-col-"] {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: nhsd-colours.get("mid-grey-20-tint");
        box-shadow: inset 0 0 0 .5px nhsd-colours.get("mid-grey");
        font-size: 65%;
      }

      // stylelint-disable declaration-no-important
      @include mq($until: s) {
        #{$-root}-col-xs-1:nth-child(2n+1):not(#{$-root}-off-xs-1) {
          background: nhsd-colours.get("green") !important;

          & + #{$-root}-col-xs-1 {
            background: nhsd-colours.get("red") !important;
          }
        }
      }
      // stylelint-enable declaration-no-important
    }
  }

  // Basic row
  &-row {
    display: flex;
    flex-wrap: wrap;
  }

  // Basic column
  &-col {
    @extend %-column-base;
  }

  // Columns and offsets for all breakpoints
  @each $-device, $-props in $-grid-data-map {
    $-prefix: map.get($-props, "prefix");
    $-columns: map.get($-props, "columns");
    $-breakpoints: map.get($-props, "breakpoints");

    $-bp-from: map.get($-breakpoints, "from");
    $-bp-until: map.get($-breakpoints, "until");

    @for $-step from 0 through $-columns {
      &-col-#{$-prefix}-#{$-step} {
        @extend %-column-base;
      }

      // Static
      @if $-device == "m" {
        &-col-#{$-step} {
          @extend %-column-base;
          width: $-step / $-columns * 100%;
        }

        &-off-#{$-step} {
          margin-left: $-step / $-columns * 100%;
        }
      }

      // Responsive
      @include mq($from: $-bp-from, $until: $-bp-until) {
        &-col-#{$-prefix}-#{$-step} {
          width: $-step / $-columns * 100%;
        }

        &-off-#{$-prefix}-#{$-step} {
          margin-left: $-step / $-columns * 100%;
        }
      }
    }
  }
}
