// Settings
@use "scss-core/settings/vars";

.nhsd-t-round {
  border-radius: vars.$border-radius;

  &-top {
    border-top-left-radius: vars.$border-radius;
    border-top-right-radius: vars.$border-radius;
  }

  &-bottom {
    border-bottom-left-radius: vars.$border-radius;
    border-bottom-right-radius: vars.$border-radius;
  }

  &-top-right {
    border-top-right-radius: vars.$border-radius;
  }

  &-top-left {
    border-top-left-radius: vars.$border-radius;
  }
}
