// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;

// Private members
$-root: ".nhsd-t-svg";

$states: 'hover', 'focus', 'active';

// stylelint-disable declaration-no-important
svg#{$-root} {
  @each $colourKey, $colourValue in nhsd-colours.$colours {
    &--fill-#{$colourKey} {
      &,
      * {
        fill: $colourValue !important;
      }
    }

    @each $state in $states {
      &--fill-#{$state}-#{$colourKey}:#{$state} {
        &,
        * {
          fill: $colourValue !important;
        }
      }
    }
  }

  &--fill {
    &,
    * {
      fill: var(--nhsd-svg-fill) !important;
    }

    @each $state in $states {
      &-#{$state}:#{$state} {
        &,
        * {
          fill: var(--nhsd-svg-fill-#{$state}) !important;
        }
      }
    }
  }
}

#{$-root} {
  @each $colourKey, $colourValue in nhsd-colours.$colours {
    &--fill-#{$colourKey} {
      > svg,
      > svg * {
        fill: $colourValue !important;
      }
    }

    @each $state in $states {
      &--fill-#{$state}-#{$colourKey}:#{$state} {
        > svg,
        > svg * {
          fill: $colourValue !important;
        }
      }
    }
  }

  &--fill {
    > svg,
    > svg * {
      fill: var(--nhsd-svg-fill) !important;
    }

    @each $state in $states {
      &-#{$state}:#{$state} {
        > svg,
        > svg * {
          fill: var(--nhsd-svg-fill-#{$state}) !important;
        }
      }
    }
  }
}
// stylelint-enable declaration-no-important
