// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/fonts" as nhsd-fonts;

// Private members
$-root: ".nhsd-t";

%-typo-base {
  @include nhsd-fonts.font-family;
  font-kerning: auto;
}

%-heading-base {
  @extend %-typo-base;

  margin: 0 0 nhsd-spacing.get(4);
  color: nhsd-colours.get("black");

  @include nhsd-fonts.font-weight(bold);
  @include mq($until: s) {
    margin-bottom: nhsd-spacing.get(3);
  }
}

%-body-base {
  @extend %-typo-base;

  margin: 0 auto nhsd-spacing.get(3);
  color: nhsd-colours.get("dark-grey");
  font-size: 1rem;
  letter-spacing: -.01666rem;
  line-height: 1.444rem;

  @include mq($until: s) {
    font-size: .888rem;
    line-height: 1.277rem;
  }
}

// =========================================================
// Utility classes
// =========================================================

#{$-root} {
  // Headings (H1-H6)
  &-heading-xxl,
  &-heading-xl,
  &-heading-l,
  &-heading-m,
  &-heading-s,
  &-heading-xs {
    @extend %-heading-base;
  }

  &-heading-xxl {
    font-size: 2.666rem;
    letter-spacing: -.0555rem;
    line-height: 2.888rem;

    @include mq($until: s) {
      font-size: 2rem;
      letter-spacing: -.0277rem;
      line-height: 2.333rem;
    }
  }

  &-heading-xl {
    font-size: 2rem;
    letter-spacing: -.0277rem;
    line-height: 2.333rem;

    @include mq($until: s) {
      font-size: 1.666rem;
      letter-spacing: -.01666rem;
      line-height: 1.888rem;
    }
  }

  &-heading-l {
    font-size: 1.666rem;
    letter-spacing: -.0277rem;
    line-height: 2rem;

    @include mq($until: s) {
      font-size: 1.444rem;
      letter-spacing: -.01666rem;
      line-height: 1.722rem;
    }
  }

  &-heading-m {
    font-size: 1.444rem;
    letter-spacing: -.0277rem;
    line-height: 1.722rem;

    @include mq($until: s) {
      font-size: 1.222rem;
      letter-spacing: -.01666rem;
      line-height: 1.5rem;
    }
  }

  &-heading-s {
    font-size: 1.222rem;
    letter-spacing: -.0277rem;
    line-height: 1.555rem;

    @include mq($until: s) {
      font-size: 1rem;
      letter-spacing: -.01666rem;
      line-height: 1.388rem;
    }
  }

  &-heading-xs {
    font-size: 1rem;
    letter-spacing: -.0277rem;
    line-height: 1.444rem;

    @include mq($until: s) {
      font-size: .888rem;
      letter-spacing: -.01666rem;
      line-height: 1.277rem;
    }
  }

  // Lead text
  &-lead {
    @extend %-typo-base;
    @include nhsd-fonts.font-weight(bold);

    margin: 0 auto nhsd-spacing.get(3);
    color: nhsd-colours.get("black");
    font-size: 1.222rem;
    letter-spacing: -.0277rem;
    line-height: 1.555rem;

    @include mq($until: s) {
      font-size: 1rem;
      letter-spacing: -.01666rem;
      line-height: 1.388rem;
    }
  }

  // Body text
  &-body {
    @extend %-body-base;
  }

  // Lists
  &-list {
    @extend %-body-base;

    padding-left: 0;
    list-style-type: none;

    & > li {
      &:not(:last-of-type) {
        margin: 0 0 .1333rem;
      }
    }

    &--bullet {
      list-style-type: disc;
    }

    &--number {
      list-style-type: decimal;
    }

    &--bullet,
    &--number {
      margin-left: 1rem;

      li {
        padding-left: .5rem;
      }
    }

    &--loose {
      & > li {
        &:not(:last-of-type) {
          margin: 0 0 nhsd-spacing.get(3);
        }
      }
    }

    &--links {
      & > li {
        &:not(:last-of-type) {
          margin: 0 0 .333rem;
        }
      }
    }
  }

  // Blockquote
  &-quote {
    @extend %-typo-base;

    position: relative;
    margin: 0 auto nhsd-spacing.get(3);
    color: nhsd-colours.get("dark-grey");
    font-size: 1.444rem;
    letter-spacing: -.01666rem;
    line-height: 1.722rem;

    &:before,
    &:after {
      @extend %-typo-base;

      display: inline-block;
      position: absolute;
    }

    &:before {
      content: "“";
      left: -.75rem;
    }

    &:after {
      content: "”";
    }

    @include mq($until: s) {
      font-size: 1.222rem;
      line-height: 1.5rem;

      &:before {
        left: -.6rem;
      }
    }
  }
}
