// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Private members
$-root: ".nhsd-t";

%-typo-base {
  @include nhsd-fonts.font-family;
  font-kerning: auto;
}

%-heading-base {
  @extend %-typo-base;

  display: block;
  margin: 0 0 nhsd-spacing.get(4);
  color: nhsd-colours.get("black");
  letter-spacing: -.0622rem;
  line-height: 1.1666;

  @include nhsd-fonts.font-weight(bold);
  @include mq($until: s) {
    margin-bottom: nhsd-spacing.get(3);
  }
}

%body-base {
  @extend %-typo-base;

  margin: 0 auto nhsd-spacing.get(3);
  font-size: 1rem;

  a {
    line-height: 1.63;
  }

  @include mq($until: s) {
    font-size: .888rem;
    line-height: 1.4;
  }
}

%body-base-s {
  font-size: .888rem;
  letter-spacing: -.0166rem;
  line-height: 1.4375;

  a {
    line-height: 1.635;
  }

  @include mq($until: s) {
    font-size: .778rem;
    line-height: 1.389;

    a {
      line-height: 1.75;
    }

    &:before {
      left: -.6rem;
    }
  }
}

// =========================================================
// Utility classes
// =========================================================

#{$-root} {
  // Headings (H1-H6)
  &-heading-xxl,
  &-heading-xl,
  &-heading-l,
  &-heading-m,
  &-heading-s,
  &-heading-xs {
    @extend %-heading-base;
  }

  &-heading-xxl {
    font-size: 2.666rem;
    letter-spacing: -.125rem;
    line-height: 1.2;

    a {
      line-height: 1.35;
    }

    @include mq($until: s) {
      font-size: 2rem;
      letter-spacing: -.0277rem;
      line-height: 1.1665;

      a {
        line-height: 1.39;
      }
    }
  }

  &-heading-xl {
    font-size: 2rem;
    letter-spacing: -.063rem;
    line-height: 1.1667;

    a {
      line-height: 1.389;
    }

    @include mq($until: s) {
      font-size: 1.669rem;
      letter-spacing: -.01666rem;
      line-height: 1.1337;

      a {
        line-height: 1.45;
      }
    }
  }

  &-heading-l {
    font-size: 1.6669rem;
    letter-spacing: -.063rem;
    line-height: 1.20048;

    a {
      line-height: 1.45;
    }

    @include mq($until: s) {
      font-size: 1.444rem;
      letter-spacing: -.01666rem;
      line-height: 1.19267;

      a {
        line-height: 1.5;
      }
    }
  }

  &-heading-m {
    font-size: 1.444rem;
    letter-spacing: -.0277rem;
    line-height: 1.19267;

    a {
      line-height: 1.5;
    }

    @include mq($until: s) {
      font-size: 1.222rem;
      letter-spacing: -.01666rem;
      line-height: 1.22749;
    }
  }

  &-heading-s {
    font-size: 1.222rem;
    letter-spacing: -.0277rem;
    line-height: 1.3125;

    a {
      line-height: 1.889rem;
    }

    @include mq($until: s) {
      font-size: 1rem;
      letter-spacing: -.01666rem;
    }
  }

  &-heading-xs {
    font-size: 1rem;
    letter-spacing: -.0277rem;
    line-height: 1.3125;

    a {
      line-height: 1.666rem;
    }

    @include mq($until: s) {
      font-size: .888rem;
      letter-spacing: -.01666rem;
    }
  }

  // Body text
  &-body {
    &,
    p {
      @extend %body-base;
    }
  }

  &-body-s {
    &,
    p {
      @extend %body-base;
      @extend %body-base-s;
    }
  }

  // Lists
  &-list {
    @extend %body-base;

    padding-left: 0;
    list-style-type: none;

    & > li {
      &:not(:last-of-type) {
        margin: 0 0 .1333rem;
      }
    }

    &--bullet {
      list-style-type: disc;
    }

    &--number {
      list-style-type: decimal;
    }

    &--bullet,
    &--number {
      margin-left: 1rem;

      li {
        padding-left: .5rem;
      }
    }

    &--loose {
      & > li {
        &:not(:last-of-type) {
          margin: 0 0 nhsd-spacing.get(3);
        }
      }
    }

    &--links {
      & > li {
        &:not(:last-of-type) {
          margin: 0 0 .222rem;
        }
      }
    }
  }

  // Blockquote
  &-quote {
    @extend %-typo-base;

    position: relative;
    margin: 0 auto nhsd-spacing.get(3);
    color: nhsd-colours.get("dark-grey");
    font-size: 1.445rem;
    letter-spacing: -.01666rem;
    line-height: 1.19252;

    &:before,
    &:after {
      @extend %-typo-base;

      display: inline-block;
      position: absolute;
    }

    &:before {
      content: "“";
      left: -.75rem;
    }

    &:after {
      content: "”";
    }

    a {
      line-height: 1.475;
    }

    @include mq($until: s) {
      font-size: 1.225rem;
      line-height: 1.5rem;

      &:before {
        left: -.6rem;
      }

      a {
        line-height: 1.555;
      }
    }
  }

  &-word-break {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
