// stylelint-disable declaration-no-important

// Built in modules
@use "sass:map";

// Settings
@use "scss-core/settings/media-queries" as *;

// Private members
$-root: ".nhsd-";

$-directions: (
  left: left,
  center: center,
  right: right
);

$-responsive-data-map: (
  xs: (
    prefix: xs,
    breakpoints: (
      until: s
    )
  ),
  s: (
    prefix: s,
    breakpoints: (
      from: s,
      until: m
    )
  ),
  m: (
    prefix: m,
    breakpoints: (
      from: m,
      until: l
    )
  ),
  l: (
    prefix: l,
    breakpoints: (
      from: l,
      until: xl
    )
  ),
  xl: (
    prefix: xl,
    breakpoints: (
      from: xl
    )
  )
);

// =========================================================
// Functions and mixins
// =========================================================

@mixin text-align($key: left, $override: false) {
  $value: map.get($-directions, $key);
  @if $value == null {
    $value: map.get($-directions, left);
  }
  text-align: $value if($override == true, !important, null);
}

@mixin box-sizing($value: border-box) {
  &,
  &:before,
  &:after {
    box-sizing: $value;
  }
}

@mixin clamped-text($lines: 4) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
}

// =========================================================
// Utility classes
// =========================================================

.nhsd-t-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// =========================================================
// Utility override classes
// =========================================================

#{$-root}\!t-no-gutters {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#{$-root}\!t-uppercase {
  text-transform: uppercase !important;
}

@each $key, $value in $-directions {
  // Override tokens
  #{$-root}\!t-text-align-#{$key} {
    @include text-align($value, true);
  }

  // Regular tokens
  #{$-root}\t-text-align-#{$key} {
    @include text-align($value);
  }

  // Responsive override tokens
  @each $-device, $-props in $-responsive-data-map {
    $-prefix: map.get($-props, "prefix");
    $-breakpoints: map.get($-props, "breakpoints");
    $-bp-from: map.get($-breakpoints, "from");
    $-bp-until: map.get($-breakpoints, "until");

    @include mq($from: $-bp-from, $until: $-bp-until) {
      #{$-root}\!t-text-align-#{$-prefix}-#{$key} {
        @include text-align($value, true);
      }
    }
  }
}

// stylelint-enable declaration-no-important
