{#- Import atom macros -#}
{% macro nhsd_a_image(params) -%}
  {% include "../image/template.njk" %}
{%- endmacro %}

{# Set classes #}
{%- set baseClass = "nhsd-a-avatar" -%}
{% set classNames = baseClass %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

{%- if params.href -%}
<a href="{{params.href}}" class="{{classNames}}" title="{{params.fullName}}" aria-label="{{params.fullName}}">
{%- else -%}
<div class="{{classNames}}" title="{{params.fullName}}" aria-label="{{params.fullName}}">
{%- endif -%}
{%- if params.image -%}
  {{nhsd_a_image(params.image)}}
{%- else -%}
  {{params.initials}}
{%- endif -%}
{%- if params.href -%}
</a>
{%- else -%}
</div>
{%- endif -%}
