// Settings
@use "scss-core/settings/media-queries" as *;

// Private members
$-root: ".nhsd-a-digiblocks";
$-size: 486px;
$-min-size: $-size * .74;
$-max-size: $-size;
$-base-offset: calc(91% - #{$-size} * .2);
$-base-l-offset: calc(88% - #{$-size} * .2);
$-base-center-offset: calc(95% - #{$-size} * .2);

#{$-root} {
  display: block;
  position: relative;
  width: $-min-size;
  height: $-min-size;

  @include mq($from: s) {
    width: $-max-size;
    height: $-max-size;
  }

  & > svg,
  & > img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  // Position modifiers
  &--pos-tl,
  &--pos-tr,
  &--pos-br,
  &--pos-bl,
  &--pos-cl,
  &--pos-cr {
    position: absolute;
  }

  &--pos-tl,
  &--pos-tr {
    top: -$-size / 1.9;

    @include mq($from: s) {
      top: -$-size / 2.2;
    }
  }

  &--pos-bl,
  &--pos-br {
    bottom: -$-size / 1.9;

    @include mq($from: s) {
      bottom: -$-size / 2.2;
    }
  }

  &--pos-cl {
    top: calc(50% - #{$-size} * .5);
    right: $-base-center-offset;
  }

  &--pos-cr {
    top: calc(50% - #{$-size} * .5);
    left: $-base-center-offset;
  }

  &--pos-tl,
  &--pos-bl {
    right: $-base-offset;

    @include mq($from: m) {
      right: $-base-l-offset;
    }
  }

  &--pos-tr,
  &--pos-br {
    left: $-base-offset;

    @include mq($from: m) {
      left: $-base-l-offset;
    }
  }

  // Overrides for individual digiblocks
  // Will need to be removed when digiblock generator is introduced
  @include mq($until: s) {
    &--pos-tr {
      margin-top: 35px;
      margin-left: -35px;
    }

    &--pos-bl {
      margin-right: -35px;
      margin-bottom: -25px;
    }

    &--pos-br {
      margin-bottom: 50px;
      margin-left: -10px;
    }
  }

  @include mq($until: t) {
    &--pos-tl {
      margin-right: 15px;
    }

    &--pos-tr {
      margin-left: -25px;
    }

    &--pos-br {
      margin-left: 0;
    }
  }

  // Colour modifiers
  &--col-black {
    polygon {
      &:nth-child(1) {
        fill: #191718;
      }

      &:nth-child(2) {
        fill: #0c0c0c;
      }

      &:nth-child(3) {
        fill: #000305;
      }
    }
  }

  &--col-yellow {
    polygon {
      &:nth-child(1) {
        fill: #f5d507;
      }

      &:nth-child(2) {
        fill: #f2cb0c;
      }

      &:nth-child(3) {
        fill: #eec000;
      }
    }
  }

  &--col-blue {
    polygon {
      &:nth-child(1) {
        fill: #0062cc;
      }

      &:nth-child(2) {
        fill: #005abe;
      }

      &:nth-child(3) {
        fill: #0050b5;
      }
    }
  }

  &--col-dark-blue {
    polygon {
      &:nth-child(1) {
        fill: #00267a;
      }

      &:nth-child(2) {
        fill: #001f75;
      }

      &:nth-child(3) {
        fill: #001766;
      }
    }
  }

  &--col-light-blue {
    polygon {
      &:nth-child(1) {
        fill: #bfd7ed;
      }

      &:nth-child(2) {
        fill: #b2cfea;
      }

      &:nth-child(3) {
        fill: #a6c7e6;
      }
    }
  }

  &--col-grey {
    polygon {
      &:nth-child(1) {
        fill: #6d7b86;
      }

      &:nth-child(2) {
        fill: #62717a;
      }

      &:nth-child(3) {
        fill: #5c6b75;
      }
    }
  }

  &--col-dark-grey {
    polygon {
      &:nth-child(1) {
        fill: #3c4d57;
      }

      &:nth-child(2) {
        fill: #32434c;
      }

      &:nth-child(3) {
        fill: #313d45;
      }
    }
  }

  &--col-light-grey {
    polygon {
      &:nth-child(1) {
        fill: #dadfdf;
      }

      &:nth-child(2) {
        fill: #cdd5d6;
      }

      &:nth-child(3) {
        fill: #c5cdcf;
      }
    }
  }

  &--col-white {
    polygon {
      &:nth-child(1) {
        fill: #fbfafa;
      }

      &:nth-child(2) {
        fill: #f5f5f4;
      }

      &:nth-child(3) {
        fill: #eff2f1;
      }
    }
  }
}
