{# Component macros - Atoms #}

{# Box #}
{% macro nhsd_a_box(params) -%}
  {% include "../../components/atoms/box/template.njk" %}
{%- endmacro %}

{# Box wrapper - start #}
{% macro nhsd_a_box_start(classes="") -%}
  <div class="nhsd-a-box {{ classes }}">
{%- endmacro %}

{# Box wrapper - end #}
{% macro nhsd_a_box_end() -%}
  </div>
{%- endmacro %}

{# Button #}
{% macro nhsd_a_button(params) -%}
  {% include "../../components/atoms/button/template.njk" %}
{%- endmacro %}

{# Colour bar #}
{% macro nhsd_a_colour_bar(params) -%}
  {% include "../../components/atoms/colour-bar/template.njk" %}
{%- endmacro %}

{# Character block #}
{% macro nhsd_a_character_block(params) -%}
  {% include "../../components/atoms/character-block/template.njk" %}
{%- endmacro %}

{# Digiblocks #}
{% macro nhsd_a_digiblocks(params) -%}
  {% include "../../components/atoms/digiblocks/template.njk" %}
{%- endmacro %}

{# Checkbox #}
{% macro nhsd_a_checkbox(params) -%}
  {% include "../../components/atoms/checkbox/template.njk" %}
{%- endmacro %}

{# Document icon #}
{% macro nhsd_a_document_icon(params) -%}
  {% include "../../components/atoms/document-icon/template.njk" %}
{%- endmacro %}

{# Icon #}
{% macro nhsd_a_icon(params) -%}
  {% include "../../components/atoms/icon/template.njk" %}
{%- endmacro %}

{# Icon link #}
{% macro nhsd_a_icon_link(params) -%}
  {% include "../../components/atoms/icon-link/template.njk" %}
{%- endmacro %}

{# Image #}
{% macro nhsd_a_image(params) -%}
  {% include "../../components/atoms/image/template.njk" %}
{%- endmacro %}

{# Link #}
{% macro nhsd_a_link(params) -%}
  {% include "../../components/atoms/link/template.njk" %}
{%- endmacro %}

{# Logo #}
{% macro nhsd_a_logo(params) -%}
  {% include "../../components/atoms/logo/template.njk" %}
{%- endmacro %}

{# Menu item #}
{% macro nhsd_a_menu_item(params) -%}
  {% include "../../components/atoms/menu-item/template.njk" %}
{%- endmacro %}

{# Mega Menu item #}
{% macro nhsd_a_mega_menu_item(params) -%}
  {% include "../../components/atoms/mega-menu-item/template.njk" %}
{%- endmacro %}

{# Horizontal rule #}
{% macro nhsd_a_horizontal_rule(params) -%}
  {% include "../../components/atoms/horizontal-rule/template.njk" %}
{%- endmacro %}

{# Selector toggle #}
{% macro nhsd_a_selector_toggle(params) -%}
  {% include "../../components/atoms/selector-toggle/template.njk" %}
{%- endmacro %}

{# Skip link #}
{% macro nhsd_a_skip_link(params) -%}
  {% include "../../components/atoms/skip-link/template.njk" %}
{%- endmacro %}

{# Tab #}
{% macro nhsd_a_tab(params) -%}
  {% include "../../components/atoms/tab/template.njk" %}
{%- endmacro %}

{# Tag #}
{% macro nhsd_a_tag(params) -%}
  {% include "../../components/atoms/tag/template.njk" %}
{%- endmacro %}

{# Text highlight #}
{% macro nhsd_a_text_highlight(params) -%}
  {% include "../../components/atoms/tag/template.njk" %}
{%- endmacro %}
