{# Component macros - Molecules #}

{# Card #}
{% macro nhsd_m_card(params) -%}
  {% include "../../components/molecules/card/template.njk" %}
{%- endmacro %}

{# Card #}
{% macro nhsd_m_logo_link(params) -%}
  {% include "../../components/molecules/logo-link/template.njk" %}
{%- endmacro %}
