{# Component macros - Molecules #}

{# Button nav #}
{% macro nhsd_m_button_nav(params) -%}
  {% include "../../components/molecules/button-nav/template.njk" %}
{%- endmacro %}

{# Card #}
{% macro nhsd_m_card(params) -%}
  {% include "../../components/molecules/card/template.njk" %}
{%- endmacro %}

{# Logo link #}
{% macro nhsd_m_logo_link(params) -%}
  {% include "../../components/molecules/logo-link/template.njk" %}
{%- endmacro %}

{# Graphic block #}
{% macro nhsd_m_graphic_block(params) -%}
  {% include "../../components/molecules/graphic-block/template.njk" %}
{%- endmacro %}

{# Picture with link #}
{% macro nhsd_m_picture_with_link(params) -%}
  {% include "../../components/molecules/picture-with-link/template.njk" %}
{%- endmacro %}
