{# Component macros - Molecules #}

{# Breadcrumbs #}
{% macro nhsd_m_breadcrumbs(params) -%}
  {% include "../../components/molecules/breadcrumbs/template.njk" %}
{%- endmacro %}

{# Button nav #}
{% macro nhsd_m_button_nav(params) -%}
  {% include "../../components/molecules/button-nav/template.njk" %}
{%- endmacro %}

{# Card #}
{% macro nhsd_m_card(params) -%}
  {% include "../../components/molecules/card/template.njk" %}
{%- endmacro %}

{# Download card #}
{% macro nhsd_m_download_card(params) -%}
  {% include "../../components/molecules/download-card/template.njk" %}
{%- endmacro %}

{# Emphasis box #}
{% macro nhsd_m_emphasis_box(params) -%}
  {% include "../../components/molecules/emphasis-box/template.njk" %}
{%- endmacro %}

{# Emphasis box #}
{% macro nhsd_m_filter_menu_section(params) -%}
  {% include "../../components/molecules/filter-menu-section/template.njk" %}
{%- endmacro %}

{# Graphic block #}
{% macro nhsd_m_graphic_block(params) -%}
  {% include "../../components/molecules/graphic-block/template.njk" %}
{%- endmacro %}

{# Icon list item #}
{% macro nhsd_m_icon_list_item(params) -%}
  {% include "../../components/molecules/icon-list-item/template.njk" %}
{%- endmacro %}

{# Image with link #}
{% macro nhsd_m_image_with_link(params) -%}
  {% include "../../components/molecules/image-with-link/template.njk" %}
{%- endmacro %}

{# Logo link #}
{% macro nhsd_m_logo_link(params) -%}
  {% include "../../components/molecules/logo-link/template.njk" %}
{%- endmacro %}

{# Mega Menu bar #}
{% macro nhsd_m_mega_menu_bar(params) -%}
  {% include "../../components/molecules/mega-menu-bar/template.njk" %}
{%- endmacro %}

{# Menu bar #}
{% macro nhsd_m_menu_bar(params) -%}
  {% include "../../components/molecules/menu-bar/template.njk" %}
{%- endmacro %}

{# Nav block #}
{% macro nhsd_m_nav_block(params) -%}
  {% include "../../components/molecules/nav-block/template.njk" %}
{%- endmacro %}

{# Quote #}
{% macro nhsd_m_quote(params) -%}
  {% include "../../components/molecules/quote/template.njk" %}
{%- endmacro %}

{# Search field #}
{% macro nhsd_m_search_bar(params) -%}
  {% include "../../components/molecules/search-bar/template.njk" %}
{%- endmacro %}

{# Selector toggle card #}
{% macro nhsd_m_selector_toggle_card(params) -%}
  {% include "../../components/molecules/selector-toggle-card/template.njk" %}
{%- endmacro %}

{# Sticky navigation #}
{% macro nhsd_m_sticky_nav(params) -%}
  {% include "../../components/molecules/sticky-navigation/template.njk" %}
{%- endmacro %}

{# Expander #}
{% macro nhsd_m_expander(params) -%}
  {% include "../../components/molecules/expander/template.njk" %}
{%- endmacro %}

{# Statistics Block #}
{% macro nhsd_m_statistics_block(params) -%}
  {% include "../../components/molecules/statistics-block/template.njk" %}
{%- endmacro %}

{# Tabs #}
{% macro nhsd_m_tabs(params) -%}
  {% include "../../components/molecules/tabs/template.njk" %}
{%- endmacro %}

{# Chapter #}
{% macro nhsd_m_chapter(params) -%}
  {% include "../../components/molecules/chapter/template.njk" %}
{%- endmacro %}

{# Publication Chapter Navigation#}
{% macro nhsd_m_publication_chapter_navigation(params) -%}
  {% include "../../components/molecules/publication-chapter-navigation/template.njk" %}
{%- endmacro %}
