{# Component macros - Organisms #}

{# Card list #}
{% macro nhsd_o_card_list(params) -%}
  {% include "../../components/organisms/card-list/template.njk" %}
{%- endmacro %}

{# Case study #}
{% macro nhsd_o_case_study(params) -%}
  {% include "../../components/organisms/case-study/template.njk" %}
{%- endmacro %}

{# Global footer #}
{% macro nhsd_o_global-footer(params) -%}
  {% include "../../components/organisms/global-footer/template.njk" %}
{%- endmacro %}

{# Graphic block list #}
{% macro nhsd_o_graphic_block_list(params) -%}
  {% include "../../components/organisms/graphic_block_list/template.njk" %}
{%- endmacro %}

{# Hero feature #}
{% macro nhsd_o_hero_feature(params) -%}
  {% include "../../components/organisms/hero_feature/template.njk" %}
{%- endmacro %}

{# Image with link list #}
{% macro nhsd_o_image_with_link_list(params) -%}
  {% include "../../components/organisms/image-with-link-list/template.njk" %}
{%- endmacro %}
