{# Component macros - Organisms #}

{# Card list #}
{% macro nhsd_o_card_list(params) -%}
  {% include "../../components/organisms/card-list/template.njk" %}
{%- endmacro %}

{# Graphic block list #}
{% macro nhsd_o_graphic_block_list(params) -%}
  {% include "../../components/organisms/graphic_block_list/template.njk" %}
{%- endmacro %}
