{# Component macros - Organisms #}

{# Card list #}
{% macro nhsd_o_card_list(params) -%}
  {% include "../../components/organisms/card-list/template.njk" %}
{%- endmacro %}

{# Case study #}
{% macro nhsd_o_case_study(params) -%}
  {% include "../../components/organisms/case-study/template.njk" %}
{%- endmacro %}

{# Global footer #}
{% macro nhsd_o_global_footer(params) -%}
  {% include "../../components/organisms/global-footer/template.njk" %}
{%- endmacro %}

{# Hero feature #}
{% macro nhsd_o_hero(params) -%}
  {% include "../../components/organisms/hero/template.njk" %}
{%- endmacro %}

{# Image with link list #}
{% macro nhsd_o_image_with_link_list(params) -%}
  {% include "../../components/organisms/image-with-link-list/template.njk" %}
{%- endmacro %}

{# chapter navigation #}
{% macro nhsd_o_chapter_navigation(params) -%}
  {% include "../../components/organisms/chapter-navigation/template.njk" %}
{%- endmacro %}
