// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/_z-index";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/transition" as nhsd-transition;

// Private members
$-root: ".nhsd-o-dropdown";

#{$-root} {
  display: inline-block;
  position: relative;

  @include mq($from: s) {
    min-width: 500px;
  }

  &__input {
    .nhsd-m-search-bar,
    .nhsd-a-button {
      margin: 0;
    }
  }

  &__dropdown {
    visibility: hidden;
    position: absolute;
    @include z-index.get('dropdown');
    top: 100%;
    width: 100%;
    max-height: 300px;
    max-height: var(--dropdown-height, 300px);

    @include nhsd-spacing.set-responsive('margin-top', 2);
    padding: nhsd-spacing.get(2) 0;
    overflow: auto;
    transition: opacity nhsd-transition.$transition-duration, visibility nhsd-transition.$transition-duration;
    border: 1px solid nhsd-colours.get("pale-grey");
    border-radius: vars.$border-radius;
    opacity: 0;
    background: nhsd-colours.get("white");
    @include nhsd-utils.apply-shadow;
    @include nhsd-utils.scrollbar;

    .nhsd-a-checkbox {
      padding: nhsd-spacing.get(2) nhsd-spacing.get(3);
    }

    ul,
    li {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;

      li {
        border-top: 1px solid nhsd-colours.get("pale-grey-40-tint");

        &:first-child {
          border: none;
        }

        a:not(.nhsd-a-link),
        button:not(.nhsd-a-button) {
          @extend %body-base;

          display: block;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: nhsd-spacing.get(2) nhsd-spacing.get(4);
          border: none;
          color: nhsd-colours.get("black");
          background: none;
          line-height: 1.3334rem;
          text-align: left;
          text-decoration: none;
          cursor: pointer;

          &:hover,
          &:focus {
            &,
            [class^="nhsd-t-heading"] {
              color: nhsd-colours.get("white");
              background: nhsd-colours.get("blue");
            }

            svg {
              fill: nhsd-colours.get("white");
            }
          }
        }
      }
    }
  }

  &--open {
    #{$-root}__dropdown {
      visibility: visible;
      opacity: 1;
    }
  }

  &--full-width {
    width: 100%;
    min-width: 100%;

    #{$-root}__input {
      .nhsd-m-search-bar {
        width: 100%;
      }
    }
  }

  &--right-align {
    text-align: right;
  }
}
