// Settings
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/utils" as nhsd-utils;

// Private members
$-root: ".nhsd-a-picture";

#{$-root} {
  @include nhsd-utils.box-sizing;

  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: (9 / 16 * 100) * 1%;
  overflow: hidden;

  &--square {
    padding-bottom: 100%;
  }

  &--round-corners {
    border-radius: vars.$border-radius;
  }

  &--round-top-corners {
    border-radius: vars.$border-radius vars.$border-radius 0 0;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
