{# Set classes #}
{%- set classNames = "nhsd-a-picture" -%}
{%- if params.classes -%}
  {%- set classNames = classNames + " " + params.classes -%}
{%- endif -%}

{%- if params.sourceSet and params.alt %}
<figure class="{{ classNames }}" {%- if params.ariaHidden %} aria-hidden="true" {%- endif %}>
  <picture class="nhsd-a-picture__picture {{ 'nhsd-!t-margin-bottom-2' if params.caption else '' }}">
  {%- for source in params.sourceSet %}
  {%-if source.media %}
    <source media="{{ source.media }}" srcset="{{ source.url }}">
  {%- endif -%}
  {%- if source.last or  not source.media %}
    <img src="{{ source.url }}" alt="{{ params.alt }}">
  {% endif -%}
  {% endfor -%}
  </picture>
  {%- if params.caption %}
  <figcaption class="nhsd-t-body-s nhsd-!t-margin-0">{{ params.caption }}</figcaption>
  {% endif -%}
</figure>
{% else %}
No image source found.
{% endif -%}
