{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_checkbox
-%}

{#- Set classes -#}
{%- set classNames = "nhsd-m-checkbox-list" -%}
{%- if params.classes -%}
  {%- set classNames = classNames + " " + params.classes -%}
{%- endif -%}

<div class="{{ classNames }}">
    <fieldset class="nhsd-t-form-fieldset" aria-describedby="nhsd-t-form__hint nhsd-t-form__error">
      {%- if params.errorText -%}
        <div class="nhsd-t-form-group__error">
      {%- endif -%}
          <p for="{{ params.title }}" class="nhsd-t-form-label-l ">{{ params.title }}</p>
          <p class="nhsd-t-form__hint">{{ params.hint }}</p>
          {%- if params.errorText -%}
            <p class="nhsd-t-form__error nhsd-!t-margin-bottom-3">{{ params.errorText }}</p>
          {%- endif -%}
          <div class="nhsd-m-checkbox-list__checkboxes">
            {% for checkbox in params.checkboxList %}
                {% switch params.classes %}
                    {% case 'nhsd-a-checkbox--small' %}
                      <div class="nhsd-!t-margin-bottom-1">
                        {{ nhsd_a_checkbox({ label: checkbox.label, hint: checkbox.hint, classes: params.classes }) }}
                      </div>
                    {% case 'nhsd-a-checkbox' %}
                      <div class="nhsd-!t-margin-bottom-3">
                        {{ nhsd_a_checkbox({ label: checkbox.label, hint: checkbox.hint, classes: params.classes }) }}
                      </div>
                    {% case 'nhsd-a-checkbox--large' %}
                      <div class="nhsd-!t-margin-bottom-3">
                        {{ nhsd_a_checkbox({ label: checkbox.label, hint: checkbox.hint, classes: params.classes }) }}
                      </div>
                    {% case 'nhsd-a-checkbox--rounded nhsd-a-checkbox--rounded-small' %}
                      <div class="nhsd-!t-margin-bottom-1">
                        {{ nhsd_a_checkbox({ label: checkbox.label, hint: checkbox.hint, classes: params.classes, rounded: true }) }}
                      </div>
                    {% case 'nhsd-a-checkbox--rounded' %}
                      <div class="nhsd-!t-margin-bottom-3">
                        {{ nhsd_a_checkbox({ label: checkbox.label, hint: checkbox.hint, classes: params.classes, rounded: true }) }}
                      </div>
                    {% case 'nhsd-a-checkbox--rounded nhsd-a-checkbox--rounded-large' %}
                      <div class="nhsd-!t-margin-bottom-3">
                        {{ nhsd_a_checkbox({ label: checkbox.label, hint: checkbox.hint, classes: params.classes, rounded: true }) }}
                      </div>
                    {% default %}
                      <div class="nhsd-!t-margin-bottom-3">
                        {{ nhsd_a_checkbox({ label: checkbox.label, hint: checkbox.hint, classes: 'nhsd-a-checkbox' }) }}
                      </div>
                  {% endswitch %}
            {% endfor -%}
          </div>
      {%- if params.errorText -%}
        </div>
      {%- endif -%}
    </fieldset>
</div>
