// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Private members
$-root: ".nhsd-m-date-input";

#{$-root} {
  .nhsd-m-date-input--fieldset {
    border: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  &__hint {
    color: nhsd-colours.get("mid-grey");
  }

  .nhsd-t-heading-xs {
    color: nhsd-colours.get("accessible-red");
  }

  &__error {
    padding-left: nhsd-spacing.get(3);
    border-left: 3px solid nhsd-colours.get("accessible-red");
  }

  &__date-input {
    display: flex;
  }

  .nhsd-m-date-input--day {
    margin-right: nhsd-spacing.get(2);

    input {
      width: 52px;
      margin-left: 0;
    }
  }

  .nhsd-m-date-input--month {
    margin-right: nhsd-spacing.get(2);

    input {
      width: 52px;
    }
  }

  .nhsd-m-date-input--year {
    input {
      width: 76px;
    }
  }

  .nhsd-t-form-group--error {
    input {
      border-color: nhsd-colours.get("accessible-red");
    }
  }
}
