// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Private members
$-root: ".nhsd-m-date-input";

#{$-root} {
  &__date-input {
    display: flex;
  }

  .nhsd-m-date-input-day {
    margin-right: nhsd-spacing.get(2);

    input {
      width: 52px;
      margin-left: 0;
    }
  }

  .nhsd-m-date-input-month {
    margin-right: nhsd-spacing.get(2);

    input {
      width: 52px;
    }
  }

  .nhsd-m-date-input-year {
    input {
      width: 76px;
    }
  }
}
