{#- Set classes -#}
{%- set classNames = "nhsd-m-date-input nhsd-t-form-group" -%}
{%- if params.classes -%}
  {%- set classNames = classNames + " " + params.classes -%}
{%- endif -%}

<div class="{{ classNames }}">
  {%- if params.errorText -%}
    <fieldset class="nhsd-t-form-fieldset" role="group" aria-describedby="nhsd-t-form__hint nhsd-t-form__error">
      <div class="nhsd-t-form-group__error">
        <p class="nhsd-t-form-label-l nhsd-!t-margin-bottom-1">{{ params.title }}</p>
        <p class="nhsd-t-form__hint nhsd-!t-margin-top-0">{{ params.hint }}</p>
        <p class="nhsd-t-form__error nhsd-!t-margin-bottom-3">{{ params.errorText }}</p>
        <div class="nhsd-m-date-input__date-input">
          <div class="nhsd-m-date-input-day" >
              <label class="nhsd-m-date-input--day-label" for="day">
                Day
              </label>
            <input class="nhsd-t-form-input nhsd-t-form-input-s" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
          <div class="nhsd-m-date-input-month">
            <label class="nhsd-m-date-input--month-label" for="month">
              Month
            </label>
            <input class="nhsd-t-form-input nhsd-t-form-input-s" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
          <div class="nhsd-m-date-input-year">
            <label class="nhsd-m-date-input--year-label" for="year">
              Year
            </label>
            <input class="nhsd-t-form-input nhsd-t-form-input-s" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  {%- elif not params.errorText -%}
    <fieldset class="nhsd-t-form-fieldset" role="group" aria-describedby="nhsd-t-form__hint">
      <p class="nhsd-t-form-label-l nhsd-!t-margin-bottom-1">{{ params.title }}</p>
      <p class="nhsd-t-form__hint nhsd-t-form-hint nhsd-!t-margin-top-0">{{ params.hint }}</p>
      <div class="nhsd-m-date-input__date-input">
        <div class="nhsd-m-date-input-day" >
            <label class="nhsd-m-date-input--day-label" for="day">
              Day
            </label>
          <input class="nhsd-t-form-input nhsd-t-form-input-s" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
        <div class="nhsd-m-date-input-month">
          <label class="nhsd-m-date-input--month-label" for="month">
            Month
          </label>
          <input class="nhsd-t-form-input nhsd-t-form-input-s" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
        <div class="nhsd-m-date-input-year">
          <label class="nhsd-m-date-input--year-label" for="year">
            Year
          </label>
          <input class="nhsd-t-form-input nhsd-t-form-input-s" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
    </fieldset>
  {%- endif -%}
</div>
