{#- Import molecule macros -#}
{%- from "../../../njk/macros/molecules.njk" import
  nhsd_m_graphic_block
-%}

{#- Set classes -#}
{% set classNames = "nhsd-o-graphic-block-list" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

{#- Set grid classes -#}
{% set gridClassNames = "nhsd-t-grid" %}
{%- if params.grid and params.grid.classes -%}
  {% set gridClassNames = gridClassNames + " " + params.grid.classes %}
{%- endif -%}

{#- Desktop columns -#}
{%- set desktopColumns = 4 -%}

<div class="{{ classNames }}">
  <div class="{{ gridClassNames }}">

    {% if params.blocks|length -%}
    <div class="nhsd-t-row nhsd-o-graphic-block-list__items">
      {%- set class = "nhsd-t-col-12" -%}

      {%- if desktopColumns == 4 %}
        {%- set class = "nhsd-t-col-xs-12 nhsd-t-col-s-4 nhsd-t-col-l-3" -%}
      {% endif -%}

      {% for graphicBlock in params.blocks -%}
        {%- if desktopColumns == 4 %}
          {%- set extraClass = "" -%}
          {%- if (loop.index0 % 2 === 0) -%}
            {%- set extraClass = "nhsd-t-off-s-2 nhsd-t-off-l-0" -%}
          {%- endif -%}
        {%- endif -%}
        <div class="{{ class }} {{ extraClass }}">
          {{ nhsd_m_graphic_block(graphicBlock) }}
        </div>
      {% endfor -%}
    </div>
    {% endif -%}
  </div>
</div>
