// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/transition" as nhsd-transition;

// Private members
$-root: ".nhsd-a-link";

@mixin link-styling($element: "&") {
  &,
  &:visited {
    #{$element} {
      padding-bottom: 2px;
      border: none;
      border-bottom: vars.$base-line-thickness solid nhsd-colours.theme("link-colour");
      color: nhsd-colours.theme("link-colour");
      line-height: 1.6;

      transition-property: background-color, color;
      transition-duration: nhsd-transition.$transition-duration;
    }
  }

  &:focus,
  &:hover {
    #{$element} {
      padding-bottom: 0;
      border-bottom: vars.$active-line-thickness solid nhsd-colours.get("black");
      outline: none;
      color: nhsd-colours.get("black");
      background-color: nhsd-colours.get("yellow");
    }
  }

  &:active {
    #{$element} {
      border-bottom: vars.$active-line-thickness solid transparent;
      color: nhsd-colours.theme("link-colour");
      background-color: transparent;
    }
  }
}

#{$-root}, a:not(a[class^="nhsd-"]) {
  @include nhsd-utils.box-sizing;
  @include nhsd-fonts.font-family;

  position: relative;
  text-decoration: none;

  @include link-styling;
}

#{$-root} {
  &--col-white {
    &,
    &:visited {
      border-bottom: vars.$base-line-thickness solid nhsd-colours.get("white");
      color: nhsd-colours.get("white");
    }

    &:focus,
    &:hover {
      color: nhsd-colours.get("black");
    }

    &:active {
      color: nhsd-colours.get("black");
    }
  }

  &--col-black {
    &,
    &:visited {
      border-bottom: vars.$base-line-thickness solid nhsd-colours.get("black");
      color: nhsd-colours.get("black");
    }

    &:focus,
    &:hover {
      border-bottom: vars.$active-line-thickness solid nhsd-colours.get("white");
      color: nhsd-colours.get("white");
      background-color: nhsd-colours.get("black");
    }

    &:active {
      border-bottom: vars.$active-line-thickness solid transparent;
      color: nhsd-colours.get("black");
    }
  }

  &--col-dark-grey {
    &,
    &:visited {
      border-bottom: vars.$base-line-thickness solid nhsd-colours.get("dark-grey");
      color: nhsd-colours.get("dark-grey");
    }

    &:focus,
    &:hover {
      border-bottom: vars.$active-line-thickness solid nhsd-colours.get("black");
      color: nhsd-colours.get("black");
      background-color: nhsd-colours.get("yellow");
    }

    &:active {
      border-bottom: vars.$active-line-thickness solid transparent;
      color: nhsd-colours.get("black");
    }
  }

  &--col-red {
    &,
    &:visited {
      border-bottom: vars.$base-line-thickness solid nhsd-colours.get("accessible-red");
      color: nhsd-colours.get("accessible-red");
    }
  }
}
