// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/transition" as nhsd-transition;

// Private members
$-root: ".nhsd-a-link";
$-base-line-thickness: 1px;
$-active-line-thickness: 3px;

#{$-root} {
  @include nhsd-utils.box-sizing;
  @include nhsd-fonts.font-family;

  position: relative;
  padding-top: 4px;
  padding-bottom: 3px;
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: nhsd-transition.$transition-duration;

  &,
  &:visited {
    border-bottom: $-base-line-thickness solid nhsd-colours.get("blue");
    color: nhsd-colours.get("blue");
  }

  &:focus,
  &:hover {
    padding-bottom: 0;
    border-bottom: $-active-line-thickness solid nhsd-colours.get("black");
    outline: none;
    color: nhsd-colours.get("black");
    background-color: nhsd-colours.get("yellow");
  }

  &:active {
    border-bottom: $-active-line-thickness solid transparent;
    color: nhsd-colours.get("blue");
    background-color: transparent;
  }

  &--col-white {
    &,
    &:visited {
      border-bottom: $-base-line-thickness solid nhsd-colours.get("white");
      color: nhsd-colours.get("white");
    }

    &:focus,
    &:hover {
      color: nhsd-colours.get("black");
    }

    &:active {
      color: nhsd-colours.get("black");
    }
  }

  &--col-black {
    &,
    &:visited {
      border-bottom: $-base-line-thickness solid nhsd-colours.get("black");
      color: nhsd-colours.get("black");
    }

    &:focus,
    &:hover {
      border-bottom: $-active-line-thickness solid nhsd-colours.get("white");
      color: nhsd-colours.get("white");
      background-color: nhsd-colours.get("black");
    }

    &:active {
      border-bottom: $-active-line-thickness solid transparent;
      color: nhsd-colours.get("black");
    }
  }

  &--col-dark-grey {
    &,
    &:visited {
      border-bottom: $-base-line-thickness solid nhsd-colours.get("dark-grey");
      color: nhsd-colours.get("dark-grey");
    }

    &:focus,
    &:hover {
      border-bottom: $-active-line-thickness solid nhsd-colours.get("black");
      color: nhsd-colours.get("black");
      background-color: nhsd-colours.get("yellow");
    }

    &:active {
      border-bottom: $-active-line-thickness solid transparent;
      color: nhsd-colours.get("black");
    }
  }
}
