// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/vars";

// Helpers
@use "scss-core/helpers/colours" as nhsd-colours;

// Utils
@use "scss-core/base/typography";
@use "scss-core/base/utils";

// Media Queries and breakpoints
@use "scss-core/settings/mq-breakpoints";
@use "sass-mq/mq" as mq;

// Private properties
$-root: ".nhsd-a-link";
$-base-colour: nhsd-colours.get("blue");
$-invert-colour: nhsd-colours.get("white");
$-active-colour: nhsd-colours.get("black");
$-highlight-colour: nhsd-colours.get("yellow");
$-line-thickness: .13rem;

#{$-root} {
  position: relative;
  padding-top: $-line-thickness * .3;
  padding-bottom: $-line-thickness;
  background-repeat: no-repeat;
  background-position: 0 100%;
  font-family: vars.$font-family;
  text-decoration: none;
  transition-property: background-color, color, background-size, background-position;
  transition-duration: vars.$transition-duration;

  &,
  &:visited {
    color: $-base-colour;
    background-image: linear-gradient($-base-colour, $-base-colour);
    background-size: 100% $-line-thickness * .5;
  }

  &:focus,
  &:hover {
    outline: none;
    color: $-active-colour;
    background-color: $-highlight-colour;
    background-image: linear-gradient($-active-colour, $-active-colour);
    background-size: 100% $-line-thickness;
  }

  &:active {
    color: $-base-colour;
    background-color: transparent;
    background-size: 0 $-line-thickness * .5;
  }

  &--light {
    &,
    &:visited {
      color: $-invert-colour;
      background-image: linear-gradient($-invert-colour, $-invert-colour);
    }

    &:focus,
    &:hover {
      color: $-active-colour;
    }

    &:active {
      color: $-invert-colour;
    }
  }

  &--dark {
    &,
    &:visited {
      color: $-active-colour;
      background-image: linear-gradient($-active-colour, $-active-colour);
    }

    &:focus,
    &:hover {
      color: $-invert-colour;
      background-color: $-active-colour;
      background-image: linear-gradient($-invert-colour, $-invert-colour);
    }

    &:active {
      color: $-active-colour;
    }
  }

  @include mq.mq($until: tablet) {
    padding-top: $-line-thickness * 1.2;
  }
}
