// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/transition" as nhsd-transition;
@use "scss-core/tokens/utils" as nhsd-utils;

// Public members
$active-border-width: .167rem;
$icon-hover-offset: nhsd-spacing.get(4);

// Private members
$-root: ".nhsd-a-menu-item";
$-border-width: .0555rem;

@mixin no-js-menu-item() {
  padding: nhsd-spacing.get(1) nhsd-spacing.get(4);
  border: $-border-width solid nhsd-colours.get("pale-grey");
  border-radius: vars.$border-radius;
  color: nhsd-colours.get("black");
}

@mixin mobile-menu-item() {
  position: relative;
  width: 100%;
  margin-top: -1px;
  padding: nhsd-spacing.get(3) 0;
  transition-property: background-color, color, box-shadow;
  transition-duration: nhsd-transition.$transition-duration;
  border-radius: vars.$border-radius;

  &--active {
    background: none;
  }

  .nhsd-a-icon {
    display: inline-block;
  }

  #{$-root}__label {
    border: none;

    .nhsd-a-icon {
      display: none;
    }
  }

  #{$-root}__label,
  .nhsd-a-icon {
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition-property: transform;
    transition-duration: nhsd-transition.$transition-duration;
  }

  &:hover,
  &:focus {
    color: nhsd-colours.get("black");
    background: #fef9cc;
    box-shadow: inset 0 0 0 .167rem nhsd-colours.get("yellow");

    &:before {
      border-top-color: nhsd-colours.get("white");
      border-bottom-color: nhsd-colours.get("white");
    }

    #{$-root}__label {
      transform: translateX(#{nhsd-spacing.get(2)});
      background: none;
    }

    .nhsd-a-icon {
      transform: translateX(#{nhsd-spacing.get(-2)});

      & > svg {
        fill: nhsd-colours.get("black");
      }
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-top: vars.$base-line-thickness solid transparent;
    border-bottom: vars.$base-line-thickness solid nhsd-colours.get("mid-grey-20-tint");
  }
}

#{$-root} {
  @include nhsd-fonts.font-family;
  display: inline-flex;
  margin: 0;

  padding: 0 nhsd-spacing.get(2);
  align-items: center;
  text-decoration: none;

  &__label {
    display: flex;
    align-items: center;
    padding: 0 nhsd-spacing.get(1);
    border-bottom: 2px solid transparent;

    .nhsd-a-icon {
      display: none;
      padding-left: nhsd-spacing.get(2);
    }
  }

  &:hover,
  &:focus {
    #{$-root}__label {
      border-bottom: 2px solid nhsd-colours.get("black");
      background: nhsd-colours.get("yellow");
    }
  }

  .nhsd-a-icon {
    display: none;
  }

  @include mq($from: m) {
    height: 100%;

    &__label {
      .nhsd-a-icon {
        display: inline-block;
      }
    }
  }

  @include mq($from: l) {
    padding: 0 nhsd-spacing.get(4);
  }

  @include mq($until: m) {
    .nhsd-a-icon,
    .nhsd-a-menu-item__label {
      @include nhsd-transition.trans-easing(nhsd-transition.$ease-out-expo);
      transition-property: transform;
      transition-duration: nhsd-transition.$transition-duration;
    }
  }
}

html:not(.nhsd-no-js) {
  #{$-root} {
    &,
    &:visited {
      color: nhsd-colours.get("dark-grey");
    }

    &:hover {
      color: nhsd-colours.get("black");
    }

    @include mq($from: m) {
      &--active {
        transition: background-color 0, border 0;
        background: nhsd-colours.get("blue");

        #{$-root}__label {
          color: nhsd-colours.get("white");
          background: none;

          .nhsd-a-icon {
            fill: nhsd-colours.get("white");
          }
        }

        &:hover,
        &:focus {
          #{$-root}__label {
            border-color: nhsd-colours.get("white");
          }
        }
      }
    }
  }
}

// stylelint-disable selector-no-qualifying-type
.nhsd-no-js {
  #{$-root} {
    width: 100%;
    height: auto;
    margin-bottom: nhsd-spacing.get(2);
    justify-content: space-between;
    @include no-js-menu-item;

    .nhsd-a-icon {
      display: inline-block;

      & > svg {
        fill: nhsd-colours.get("black");
      }
    }

    #{$-root}__label {
      border: none;

      .nhsd-a-icon {
        display: none;
      }
    }

    &__label {
      margin-right: nhsd-spacing.get(3);
      padding: 0;
    }

    &:active,
    &:focus,
    &:hover {
      border: $-border-width solid nhsd-colours.get("yellow");
      color: nhsd-colours.get("dark-grey");
      background: nhsd-colours.get("yellow-20-tint");
      box-shadow: 0 0 0 $-border-width nhsd-colours.get("yellow");

      .nhsd-a-icon {
        transform: translateX(.25 * $icon-hover-offset);
      }

      #{$-root}__label {
        border: none;
      }
    }

    @include mq($from: m) {
      width: auto;
      margin-right: nhsd-spacing.get(2);
    }
  }
}

// stylelint-enable selector-no-qualifying-type
