// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/transition" as nhsd-transition;
@use "scss-core/tokens/utils" as nhsd-utils;

// Public members
$active-border-width: .167rem;
$icon-hover-offset: nhsd-spacing.get(4);

// Private members
$-root: ".nhsd-a-menu-item";
$-border-width: .0555rem;

#{$-root} {
  @include nhsd-fonts.font-family;

  display: inline-flex;
  position: relative;
  margin: 0;
  padding: 0 nhsd-spacing.get(1);
  align-items: center;
  transition-property: background-color, color, box-shadow;
  transition-duration: nhsd-transition.$transition-duration;
  text-decoration: none;

  @include mq($from: l) {
    padding: 0 nhsd-spacing.get(2);
  }

  #{$-root}__label {
    padding: 0 nhsd-spacing.get(2);
  }

  .nhsd-a-icon,
  .nhsd-a-menu-item__label {
    @include nhsd-transition.trans-easing(nhsd-transition.$ease-out-expo);
    transition-property: transform;
    transition-duration: nhsd-transition.$transition-duration;
  }
}

html:not(.nhsd-no-js) {
  #{$-root} {
    &,
    &:visited {
      color: nhsd-colours.get("dark-grey");
    }

    .nhsd-a-icon {
      display: none;
    }

    &:hover,
    &:focus {
      #{$-root}__label {
        position: relative;
        color: nhsd-colours.get("white");
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 1rem 0;
        background: nhsd-colours.get("blue");
        z-index: -1;
      }
    }
  }
}

// stylelint-disable selector-no-qualifying-type
.nhsd-no-js {
  #{$-root} {
    margin-right: nhsd-spacing.get(3);
    margin-bottom: nhsd-spacing.get(2);
    padding: nhsd-spacing.get(1) nhsd-spacing.get(4);
    border: $-border-width solid nhsd-colours.get("pale-grey");
    border-radius: vars.$border-radius;
    justify-content: space-between;
    color: nhsd-colours.get("black");
    background: nhsd-colours.get("white");

    .nhsd-a-icon {
      display: inline-block;

      & > svg {
        fill: nhsd-colours.get("black");
      }
    }

    &__label {
      margin-right: nhsd-spacing.get(3);
      padding: 0;
    }

    &:last-child {
      margin: 0;
    }

    &:after {
      content: none;
    }

    &:active,
    &:focus,
    &:hover {
      border: $-border-width solid nhsd-colours.get("yellow");
      background: nhsd-colours.get("yellow-20-tint");
      box-shadow: 0 0 0 $-border-width nhsd-colours.get("yellow");

      &:after {
        content: none;
      }

      .nhsd-a-icon {
        transform: translateX(.25 * $icon-hover-offset);
      }
    }
  }
}
// stylelint-enable selector-no-qualifying-type
