// Settings
@use "scss-core/settings/media-queries" as *;
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/colours" as nhsd-colours;

// Private members
$-root: ".nhsd-m-expander";

#{$-root} {
  position: relative;

  ::marker {
    display: none;
  }

  &__heading-container {
    width: fit-content;
    padding-bottom: 3px;
    border: none;
    color: nhsd-colours.get('blue');
    background-color: transparent;
    fill: nhsd-colours.get('blue');

    &:hover,
    &:focus {
      padding-bottom: 0;
      border-bottom: vars.$active-line-thickness solid nhsd-colours.get("black");
      color: nhsd-colours.get('black');
      background-color: nhsd-colours.get('yellow');
      fill: nhsd-colours.get('black');
      cursor: pointer;

      .nhsd-m-expander__heading {
        border-bottom: none;
      }
    }
  }

  &__content-container {
    margin-top: nhsd-spacing.get(3);
  }

  &__icon {
    vertical-align: middle;
  }

  &__heading {
    display: inline;
    position: relative;
    border-bottom: vars.$base-line-thickness solid nhsd-colours.get("blue");
  }

  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary {
    #{$-root}__icon {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 2.1rem;
    width: 2.1rem;
    height: 2.1rem;
  }
}
