{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_icon,
  nhsd_a_box_start,
  nhsd_a_box_end,
  nhsd_a_selector_toggle
-%}

{# Table marco #}
{% macro nhsd_m_table(params) -%}
  {% include "../table/template.njk" %}
{%- endmacro %}

{#- Define ARIA attributes -#}
{% set ariaLabel = params.heading %}
{% set ariaAttributes %} aria-label="{{ ariaLabel }}" {% endset %}

{#- Set classes -#}
{% set classNames = "nhsd-m-expander" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

<div class="{{ classNames }}">
  {% if params.type === 'default expander' %}
    {{ nhsd_a_box_start('nhsd-a-box--bg-light-grey') }}
  {% endif %}
  <details>
    <summary class="nhsd-m-expander__heading-container" {{- ariaAttributes | safe }}>
      <div>
      <span class="nhsd-m-expander__icon nhsd-!t-margin-right-1">
        {{ nhsd_a_icon({ id: 'chevron_right', classes: 'nhsd-a-icon--size-xs'}) }}
      </span>
      <p class="nhsd-m-expander__heading nhsd-t-body">{{ params.heading }}</p>
      </div>
    </summary>
    <div class="nhsd-m-expander__content-container">
      <span class="nhsd-t-body">
        {{ params.content }}
      </span>
      {% if params.expanderTable %}
        <div class="nhsd-m-expander__table">
          {{ nhsd_m_table(params.expanderTable) }}
        </div>
      {% endif %}
    </div>
  </details>
  {% if params.toggle %}
    <div class="nhsd-m-expander__toggle">
      {{ nhsd_a_selector_toggle() }}
     </div>
  {% endif %}
  {% if params.type === 'most people' %}
    {{ nhsd_a_box_end() }}
  {% endif %}
</div>
