{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_icon,
  nhsd_a_box_start,
  nhsd_a_box_end
-%}

{#- Define ARIA attributes -#}
{% set ariaLabel = params.heading %}
{% set ariaAttributes %} aria-label="{{ ariaLabel }}" aria-expanded="false" {% endset %}

{#- Set classes -#}
{% set classNames = "nhsd-m-expander" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

<div class="{{ classNames }}">
  {% if params.type === 'most people' %}
    {{ nhsd_a_box_start('nhsd-a-box--bg-light-grey') }}
  {% endif %}
    <button class="nhsd-m-expander__heading-container" {{- ariaAttributes | safe }}>
      <span class="nhsd-m-expander__icon nhsd-!t-margin-right-1">
        {{ nhsd_a_icon({ id: 'chevron_right', classes: 'nhsd-a-icon--size-xs'}) }}
      </span>
      <span class="nhsd-m-expander__heading nhsd-t-body">{{ params.heading }}</span>
    </button>
    <div class="nhsd-m-expander__content-container">
      <span class="nhsd-t-body">
        {{ params.content }}
      </span>
    </div>
  {% if params.type === 'most people' %}
    {{ nhsd_a_box_end() }}
  {% endif %}
</div>