// Settings
@use "scss-core/settings/vars";

// Helpers
@use "scss-core/helpers/colours" as nhsd-colours;

body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: nhsd-colours.get("black");
  background: nhsd-colours.get("white");
}

html {
  font-family: vars.$font-family;
  font-size: 1.125rem; // 18px
  line-height: 1.6;
}

* {
  backface-visibility: hidden;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }
}
