// Font settings should be set on the body element using cascading
// styling - the font styles are embedded currently in case the
// component needs to be implemented as standalone, where setting
// font styles in the body would cause breaking change to exiting
// styling.

// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/vars";

// Helpers
@use "scss-core/helpers/colours" as nhsd-colours;

// Media Queries and breakpoints
@use "scss-core/settings/mq-breakpoints";
@use "sass-mq/mq" as mq;

// Private properties
$-font-colour: nhsd-colours.get("dark-grey");
$-desktop-font-size: 1rem; // 18px
$-mobile-font-size: .89rem; // 16px

.nhsd-body {
  max-width: 47.22rem;
  margin: 0 0 1.11rem;
  color: $-font-colour;
  font-family: vars.$font-family;
  font-size: $-desktop-font-size;
  font-kerning: auto;
  letter-spacing: -.0167rem;

  @include mq.mq($until: tablet) {
    font-size: $-mobile-font-size;
  }
}
