// Font settings should be set on the body element using cascading
// styling - the font styles are embedded currently in case the
// component needs to be implemented as standalone, where setting
// font styles in the body would cause breaking change to exiting
// styling.

// Settings
@use "scss-core/settings/font-face";
@use "scss-core/settings/vars";

// Helpers
@use "scss-core/helpers/colours" as nhsd-colours;

// Media Queries and breakpoints
@use "sass-mq/mq";

// Private members
$-font-colour: nhsd-colours.get("dark-grey");
$-desktop-font-size: 1rem; // 18px
$-mobile-font-size: .89rem; // 16px
$-desktop-margin-bottom: 1.11rem; // 20px
$-mobile-margin-bottom: .8333rem; // 15px

%typo-basics {
  margin: 0 0 $-desktop-margin-bottom;
  font-family: vars.$font-family;
  font-kerning: auto;

  @include mq.mq($until: tablet) {
    margin-bottom: $-mobile-margin-bottom;
  }
}

%typo-body-basics {
  font-size: $-desktop-font-size;
  letter-spacing: -.0167rem;

  @include mq.mq($until: tablet) {
    font-size: $-mobile-font-size;
  }
}

.nhsd-body {
  @extend %typo-basics;
  @extend %typo-body-basics;

  line-height: 1.39;

  @include mq.mq($until: tablet) {
    line-height: 1.5;
  }
}

.nhsd-list {
  @extend %typo-basics;
  @extend %typo-body-basics;

  padding-left: 0;
  list-style-type: none;
  line-height: 1.444rem;

  @include mq.mq($until: tablet) {
    line-height: 1.278rem;
  }

  li {
    &:not(:last-of-type) {
      margin: 0 0 .555rem;
    }
  }

  &--bullet {
    list-style-type: disc;
  }

  &--number {
    list-style-type: decimal;
  }

  &--bullet,
  &--number {
    margin-left: 1rem;

    li {
      padding-left: .5rem;
    }
  }
}
