// Settings
@use "scss-core/settings/vars";

// stylelint-disable declaration-no-important

// Spacing
.nhsd-u-no-margin {
  margin: 0 !important;
}
@mixin no-margin {
  margin: 0;
}

.nhsd-u-no-padding {
  padding: 0 !important;
}
@mixin no-padding {
  padding: 0;
}

.nhsd-u-no-gutters {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
@mixin no-gutters {
  padding-right: 0;
  padding-left: 0;
}

// Text alignment
.nhsd-u-text-centre {
  text-align: center !important;
}
@mixin text-centre {
  text-align: center;
}

.nhsd-u-text-left {
  text-align: left !important;
}
@mixin text-left {
  text-align: left;
}

.nhsd-u-text-right {
  text-align: right !important;
}
@mixin text-right {
  text-align: right;
}

// Font
.nhsd-u-ff {
  font-family: vars.$font-family !important;
}
@mixin ff {
  font-family: vars.$font-family;
}

.nhsd-u-ff-mono {
  font-family: vars.$font-family-mono !important;
}
@mixin ff-mono {
  font-family: vars.$font-family-mono;
}

.nhsd-u-fw-light {
  font-weight: 200 !important;
}
@mixin fw-light {
  font-weight: 200;
}

.nhsd-u-fw-regular {
  font-weight: 400 !important;
}
@mixin fw-regular {
  font-weight: 400;
}

.nhsd-u-fw-bold {
  font-weight: 600 !important;
}
@mixin fw-bold {
  font-weight: 600;
}

@mixin box-sizing($value: border-box) {
  &,
  &:before,
  &:after {
    box-sizing: $value;
  }
}

.nhsd-u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Backgrounds and colours - classes only
@each $colourKey, $colourValue in vars.$nhsd-colours {
  .nhsd-u-c-#{$colourKey} {
    color: $colourValue !important;
  }

  .nhsd-u-bg-#{$colourKey} {
    background-color: $colourValue !important;
  }
}

// stylelint-enable declaration-no-important
