// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/grid" as nhsd-grid;
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Component imports
@use "../../molecules/card";
@use "../../molecules/button-nav";

// Private members
$-root: ".nhsd-o-card-list";

#{$-root} {
  display: block;
  position: relative;

  &__items {
    @include nhsd-spacing.set-responsive("margin-bottom", 4);

    [class^="nhsd-t-col"] {
      padding-bottom: nhsd-grid.$gutter * 2;

      @include mq($until: s) {
        padding-bottom: nhsd-grid.$small-gutter * 2;
      }
    }
  }

  .nhsd-m-card {
    &,
    .nhsd-a-box {
      display: flex;
      height: 100%;
    }
  }
}
