{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button
-%}

{#- Import molecule macros -#}
{%- from "../../../njk/macros/molecules.njk" import
  nhsd_m_button_menu,
  nhsd_m_card
-%}

{#- Set classes -#}
{% set classNames = "nhsd-o-card-list" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

{#- Set grid classes -#}
{% set gridClassNames = "nhsd-t-grid" %}
{%- if params.grid and params.grid.classes -%}
  {% set gridClassNames = gridClassNames + " " + params.grid.classes %}
{%- endif -%}

{#- Desktop columns -#}
{%- set desktopColumns = params.desktopColumns if params.desktopColumns else 2 -%}
{% if not (desktopColumns / 2) or desktopColumns < 1 or desktopColumns > 4 %}
{%- set desktopColumns = 4 -%}
{% endif %}
{%- set centreColumns = params.centreColumns -%}

<div class="{{ classNames }}">
  <div class="{{ gridClassNames }}">
    {% if params.title -%}
    <div class="nhsd-t-row">
      <div class="nhsd-t-col">
        <h2 class="nhsd-t-heading-xl nhsd-t-text-align-center nhsd-!t-margin-bottom-7">{{ params.title }}</h2>
      </div>
    </div>
    {% endif -%}

    {% if params.cards|length -%}
    <div class="nhsd-t-row nhsd-o-card-list__cards">
      {%- set class = "nhsd-t-col-12" -%}

      {%- if desktopColumns == 4 %}
        {%- set class = "nhsd-t-col-xs-12 nhsd-t-col-s-6  nhsd-t-col-l-3" -%}
      {%- elseif desktopColumns == 3 %}
        {%- set class = "nhsd-t-col-xs-12 nhsd-t-col-s-4" -%}
      {%- elseif desktopColumns == 2 %}
        {%- set class = "nhsd-t-col-xs-12 nhsd-t-col-s-6" -%}
        {%- if centreColumns %}
          {%- set class = "nhsd-t-col-xs-12 nhsd-t-col-s-6 nhsd-t-col-m-5" -%}
        {% endif -%}
      {% endif -%}

      {% for card in params.cards -%}
        {%- if desktopColumns == 2 and centreColumns %}
          {%- set extraClass = "" -%}
          {%- if (loop.index0 % desktopColumns === 0) -%}
            {%- set extraClass = "nhsd-t-off-m-1" -%}
          {%- endif -%}
        {%- endif -%}
        <div class="{{ class }} {{ extraClass }}">
          {{ nhsd_m_card(card) }}
        </div>
      {% endfor -%}
    </div>
    {% endif -%}

    {% if params.buttonMenu -%}
    <div class="nhsd-t-row">
      <div class="nhsd-t-col">
        {{ nhsd_m_button_menu(params.buttonMenu) }}
      </div>
    </div>
    {% endif -%}
  </div>
</div>
