// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Private members
$-root: ".nhsd-a-horizontal-rule";

#{$-root} {
  display: block;
  width: 100%;
  @include nhsd-utils.box-sizing;

  border: 0;
  border-bottom: 1px solid nhsd-colours.get("mid-grey-20-tint");

  &,
  &--size-m {
    margin: nhsd-spacing.get(6) 0;
  }

  &--size-xxs {
    margin: 0;
  }

  &--size-xs {
    margin: nhsd-spacing.get(1) 0;
  }

  &--size-s {
    margin: nhsd-spacing.get(3) 0;
  }

  &--size-l {
    margin: nhsd-spacing.get(8) 0;
  }
}
