// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/_z-index";

// Tokens
@use "scss-core/tokens/grid" as nhsd-grid;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/colours" as nhsd-colours;

// Private members
$-root: ".nhsd-m-modal";

#{$-root} {
  display: grid;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  @include z-index.get('modal');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: nhsd-spacing.get(3);
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity 100ms, visibility 100ms, background-color 100ms;
  opacity: 0;

  &__container {
    transform: translateY(nhsd-spacing.get(-3)) scale(.995);
    transition: transform 300ms ease-out;
    border: none;
    border-radius: vars.$border-radius;

    .nhsd-a-box {
      @include nhsd-utils.apply-shadow(2);
    }
  }

  &--open {
    visibility: visible;
    transition: opacity 200ms, visibility 200ms, background-color 500ms;
    opacity: 1;
    background-color: rgba(0, 0, 0, .4);

    #{$-root}__container {
      transform: none;
    }
  }

  &--overflow {
    #{$-root}__container {
      max-width: 100%;
      max-height: 100%;
      overflow: auto;
    }
  }
}

.nhsd-t-modal-open {
  overflow: hidden;
}
