{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button,
  nhsd_a_box_start,
  nhsd_a_box_end,
  nhsd_a_horizontal_rule
-%}

{%- from "../../../njk/macros/molecules.njk" import nhsd_m_expander -%}

{#- Set classes -#}
{% set componentName = "nhsd-m-modal" %}
{% set classNames = componentName %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

{% set mandatoryAttr = '' %}
{%- if params.mandatory -%}
  {% set mandatoryAttr = 'data-modal-mandatory' %}
{%- endif -%}

<div class="{{classNames}}" id="{{ params.id }}" {{ mandatoryAttr }}>
    <div role="dialog" class="{{componentName}}__container" aria-labelledby="{{ params.id }}_dialog_label" aria-modal="true">
        {{ nhsd_a_box_start(params.box.classes) }}
            <h1 id="{{ params.id }}_dialog_label" class="nhsd-t-heading-xs">{{ params.title|safe }}</h1>
            <p class="nhsd-t-body-s">{{ params.topContent|safe }}</p>
            <p class="nhsd-t-body-s">{{ params.bottomContent|safe }}</p>
            {%- if params.expanderList -%}
                <div class="nhsd-o-expander-list">
                  {% for expander in params.expanderList.expanders %}
                    {% if params.expanderList.type === 'simple expander' %}
                      <div class="nhsd-o-expander-list__expander">
                        {{ nhsd_m_expander({ heading: expander.heading, content: expander.content, type: params.expanderList.type, toggle: params.expanderList.toggle, expanderTable: expander.expanderTable }) }}
                      </div>
                      {% if params.expanderList.removeLastHR %}
                        {% if not (params.expanderList.expanders | last === expander) %}
                          {{ nhsd_a_horizontal_rule({ classes: 'nhsd-a-horizontal-rule--size-s' }) }}
                        {% endif %}
                      {% else %}
                        {{ nhsd_a_horizontal_rule({ classes: 'nhsd-a-horizontal-rule--size-s' }) }}
                      {% endif %}
                    {% else %}
                      <div class="nhsd-o-expander-list__expander nhsd-!t-margin-bottom-3">
                        {{ nhsd_m_expander({ heading: expander.heading, content: expander.content, type: params.expanderList.type, toggle: params.expanderList.toggle, expanderTable: expander.expanderTable }) }}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
            {%- endif -%} 

            <nav class="nhsd-m-button-nav nhsd-m-button-nav--condensed">
                {{nhsd_a_button(params.secondaryButton)}}
                {{nhsd_a_button(params.primaryButton)}}
            </nav>
        {{ nhsd_a_box_end() }}
    </div>
</div>

{%- if params.openButton -%}
  <button class="nhsd-a-button" data-modal-open="{{ params.id }}">Open Modal</button>
{%- endif -%}
