// Settings
@use "scss-core/settings/media-queries" as *;
@use "scss-core/settings/vars" as vars;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Private members
$-root: ".nhsd-a-checkbox";

#{$-root} {
  label {
    position: relative;
  }

  input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: nhsd-spacing.get(4);
    height: nhsd-spacing.get(4);
    margin-right: 10px;
    margin-left: 2px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: nhsd-colours.get("white");
    box-shadow: 0 0 0 2px nhsd-colours.get("dark-grey");
    vertical-align: middle;

    &:before {
      display: none;
    }

    &:hover {
      &:before {
        content: "";
        display: block;
        position: relative;
        z-index: -1;
        top: -75%;
        left: -75%;
        width: nhsd-spacing.get(7);
        height: nhsd-spacing.get(7);
        border-radius: 2px;
        background-color: nhsd-colours.get("mid-grey");
      }
    }

    &:checked {
      box-shadow: 0 0 0 2px nhsd-colours.get("dark-grey");

      ~ .checkmark:after {
        display: block;
        position: absolute;
        top: 6px;
        left: 10px;
        width: 5px;
        height: 10px;
        margin: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border: solid nhsd-colours.get("dark-grey");
        border-width: 0 2px 2px 0;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px nhsd-colours.get("dark-grey"), 0 0 0 4px nhsd-colours.get("yellow");
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;

    &:after {
      content: "";
      display: none;
    }
  }

  &__hint {
    margin: 0 0 0 35px;
    color: nhsd-colours.get("mid-grey");
  }

  &__label {
    vertical-align: middle;
  }

  &--small {
    input[type="checkbox"] {
      width: nhsd-spacing.get(3);
      height: nhsd-spacing.get(3);
      margin-right: 14px;

      &:hover {
        cursor: pointer;

        &:before {
          top: -115%;
          left: -115%;
          border-radius: 3px;
        }
      }

      &:checked {
        ~ .checkmark:after {
          top: 6px;
          left: 7px;
        }
      }
    }
  }

  &--large {
    input[type="checkbox"] {
      width: nhsd-spacing.get(6);
      height: nhsd-spacing.get(6);

      &:hover {
        cursor: pointer;

        &:before {
          top: -27%;
          left: -27%;
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 6px;
        }
      }

      &:checked {
        ~ .checkmark:after {
          top: .1px;
          left: 13px;
          width: 10px;
          height: 20px;
          border: solid nhsd-colours.get("dark-grey");
          border-width: 0 3px 3px 0;
        }
      }
    }

    .nhsd-a-checkbox__hint {
      margin: 0 0 0 45px;
      color: nhsd-colours.get("mid-grey");
    }
  }

  &--rounded {
    input[type="checkbox"] {
      width: nhsd-spacing.get(4);
      height: nhsd-spacing.get(4);
      border-radius: 10px;

      &:hover {
        cursor: pointer;

        &:before {
          top: -70%;
          left: -70%;
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 24px;
        }
      }

      &:checked {
        box-shadow: 0 0 0 2px nhsd-colours.get("dark-grey");

        ~ .checkmark-rounded:after {
          display: block;
          position: absolute;
          top: 6px;
          left: 6px;
          width: 12px;
          height: 12px;
          border-radius: 30px;
          background-color: nhsd-colours.get("dark-grey");
        }
      }
    }

    .checkmark-rounded {
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;

      &:after {
        content: "";
        display: none;
      }
    }

    .nhsd-a-checkbox__label {
      vertical-align: middle;
    }
  }

  &--rounded-small {
    input[type="checkbox"] {
      width: nhsd-spacing.get(3);
      height: nhsd-spacing.get(3);

      &:hover {
        &:before {
          top: -115%;
          left: -115%;
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 24px;
        }
      }

      &:checked {
        ~ .checkmark-rounded:after {
          top: 8px;
          left: 5px;
          width: 9px;
          height: 9px;
        }
      }
    }
  }

  &--rounded-large {
    input[type="checkbox"] {
      width: nhsd-spacing.get(6);
      height: nhsd-spacing.get(6);
      border-radius: 20px;

      &:hover {
        &:before {
          top: -27%;
          left: -27%;
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 24px;
        }
      }

      &:checked {
        ~ .checkmark-rounded:after {
          top: 2px;
          left: 7px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
