<form>
{#- Set classes -#}
{%- set classNames = "nhsd-a-checkbox" -%}
{%- if params.classes -%}
  {%- set classNames = classNames + " " + params.classes -%}
{%- endif -%}

{#- Set aria -#}
{%- if params.label -%}
  {% set ariaLabel = params.label %}
{%- else -%}
  {% set ariaLabel = "has no label" %}
{% endif %}

<div class="{{ classNames }}">
  <label>
    {%- if params.radio -%}
      <input name="radio" type="radio" {%- if params.disabled %} disabled{%- endif -%}/>
    {%- else -%}
      <input type="checkbox" {%- if params.disabled %} disabled{%- endif -%}/>
    {% endif %}
    <div class="nhsd-a-checkbox__label">
      <span {% if params.heading -%} class="nhsd-!t-font-weight-bold" {%- endif %}>{{ params.label }}</span>
      {% if params.hint %}
        <br /><span class="nhsd-t-body-s nhsd-!t-col-mid-grey">{{ params.hint }}</span>
      {% endif %}
    </div>
    <div class="checkmark"></div>
  </label>
</div>
