{# Set classes for this component #}
{%- set classNames = "nhsd-a-button" -%}

{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}
{%- if params.disabled -%}
  {% set classNames = classNames + " nhsd-a-button--disabled" %}
{%- endif -%}

{# Set label for this component #}
{%- set label = "Simple button" -%}
{%- if params.label -%}
  {% set label = params.label %}
{%- endif -%}

{%- if params.el == 'a' %}
  {% set href="#" %}
  {% set target = "" %}
  {%- if params.href -%}
    {% set href = params.href %}
  {%- endif -%}
  {%- if params.target and params.target == '_blank' -%}
    {% set target = params.target %}
  {%- endif -%}
<a class="{{ classNames }}" href="{{ href }}" aria-label="{{ label }}" {%- if target.length %} target="{{ target }}" aria-description=" (external link, opens in a new tab)" rel="external" {% endif -%}>
  <span class="nhsd-a-button__label">{{ label }}</span>
</a>
{% elseif params.el == 'input' %}
<input type="submit" value="{{ label }}" class="{{ classNames }}" {%- if params.disabled %} disabled="disabled" aria-disabled="true"{% endif -%}/>
{% else %}
<button class="{{ classNames }}" type="button" {%- if params.disabled %} disabled="disabled" aria-disabled="true"{% endif -%}>
  <span class="nhsd-a-button__label">{{ label }}</span>
</button>
{% endif -%}
