@use "sass:map";

// Settings
@use "scss-core/settings/vars";

// Helpers
@use "scss-core/helpers/colours" as nhsd-colours;

// Base
@use "scss-core/base/utils";

// Private properties
$-root: ".nhsd-a-icon";

// TODO 1 - Figure out what the best sizes are for our use cases
$-sizes: (
  xxs: 12px,
  xs: 16px,
  s: 20px,
  m: 24px,
  l: 48px,
  xl: 128px,
  xxl: 256px,
);

// TODO 2 - Define what colours we want to support
$-colours: "black", "white", "yellow";

#{$-root} {
  @include utils.box-sizing;
  display: block;
  position: relative;
  max-width: map.get($-sizes, "xxl");
  max-height: map.get($-sizes, "xxl");

  & > svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  @each $name, $size in $-sizes {
    &--size-#{$name} {
      width: $size;
      height: $size;
    }
  }

  @each $colour in $-colours {
    &--c-#{$colour} {
      fill: nhsd-colours.get($colour);
    }
  }
}
