@use "sass:map";

// Settings
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/utils" as nhsd-utils;

// Private members
$-root: ".nhsd-a-icon";

// TODO 1 - Figure out what the best sizes are for our use cases
$-sizes: (
  xxs: 12px,
  xs: 16px,
  s: 20px,
  m: 24px,
  l: 30px,
  xl: 36px,
  xxl: 58px,
);

// TODO 2 - Define what colours we want to support
$-colours: "black", "dark-grey", "white", "yellow", "blue", "red", "green";

#{$-root} {
  @include nhsd-utils.box-sizing;

  display: inline-block;
  position: relative;
  max-width: map.get($-sizes, "xxl");
  max-height: map.get($-sizes, "xxl");

  & > svg {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  & > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  & > svg + img {
    width: 50%;
    height: 50%;
  }

  @each $name, $size in $-sizes {
    &--size-#{$name} {
      width: $size;
      height: $size;
    }
  }

  @each $colour in $-colours {
    &--col-#{$colour} {
      fill: nhsd-colours.get($colour);
    }
  }
}
