{#- Set classes for this component -#}
{%- set classNames = "nhsd-a-icon" -%}
{%- if params.classes -%}
  {%- set classNames = classNames + " " + params.classes -%}
{%- endif %}

{#- Master template -#}
<span class="{{ classNames }}">
  {% if params.svgSource -%}
    {{ params.svgSource | safe }}
  {% elseif params.link -%}
    {% if params.nested -%}
      <svg  xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" focusable="false" viewBox="0 0 16 16" width="42%" height="42%" x="29%" y="29%">
        <path d="M8,16l-6.9-4V4L8,0l6.9,4v8L8,16z M2,11.5L8,15l6-3.5v-7L8,1L2,4.5V11.5z"/>
      </svg>
    {% endif -%}
    <img src="{{ params.link }}" alt="icon" aria-hidden="true" focusable="false" />
  {%- endif -%}
</span>
