// Private members
$-root: ".nhsd-m-avatar-list";

#{$-root} {
  .nhsd-a-avatar {
    margin-left: -10px;
    float: left;

    &:first-child {
      margin: 0;
    }

    &--small {
      margin-left: -5px;
    }

    &--large {
      margin-left: -15px;
    }
  }
}
