{#- Import atom macros -#}
{%- from "../../../njk/macros/molecules.njk" import nhsd_m_sticky_nav -%}
{%- from "../../../njk/macros/molecules.njk" import nhsd_m_publication_chapter_navigation -%}
{%- from "../../../njk/macros/organisms.njk" import nhsd_o_chapter_navigation -%}

<div class="nhsd-t-grid nhsd-!t-display-chapters">
    {{nhsd_o_chapter_navigation(params.chapterNavigation)}}
    <div class="nhsd-t-row">
        <div class="nhsd-t-col-3 nhsd-!t-display-hide nhsd-!t-display-l-show">
            {{ nhsd_m_sticky_nav(params.stickyNav) }}
        </div>
        <div class="nhsd-t-col-12 nhsd-t-col-l-9">
            {{ params.content|safe }}
            {{nhsd_m_publication_chapter_navigation(params.publicationChapter)}}
        </div>
    </div>
</div>
