// Settings
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/transition" as nhsd-transition;

// Private members
$-root: ".nhsd-a-box";

// Public members
$border-width: .115rem;

#{$-root} {
  @include nhsd-utils.box-sizing;

  display: block;
  position: relative;
  padding: 1.222rem;
  border-radius: vars.$border-radius;
  color: nhsd-colours.get("black");
  background: nhsd-colours.get("white");
  transition-property: box-shadow;
  transition-duration: nhsd-transition.$transition-duration;

  // Background colour variants
  &--bg {
    &-dark-grey,
    &-mid-grey,
    &-dark-blue,
    &-blue,
    &-black {
      color: nhsd-colours.get("white");
    }

    &-black {
      background: nhsd-colours.get("black");
    }

    &-dark-grey {
      background: nhsd-colours.get("dark-grey");
    }

    &-mid-grey {
      background: nhsd-colours.get("mid-grey");
    }

    &-light-grey {
      background: nhsd-colours.get("pale-grey-80-tint");
    }

    &-dark-blue {
      background: nhsd-colours.get("dark-blue");
    }

    &-blue {
      background: nhsd-colours.get("accessible-blue");
    }

    &-yellow {
      background: nhsd-colours.get("yellow");
    }

    &-light-yellow {
      background: nhsd-colours.get("yellow-20-tint");
    }
  }

  // Border colour variants
  &--border {
    &-yellow {
      box-shadow: inset 0 0 0 $border-width nhsd-colours.get("yellow");
    }

    &-grey {
      box-shadow: inset 0 0 0 $border-width nhsd-colours.get("mid-grey-20-tint");
    }

    &-blue {
      box-shadow: inset 0 0 0 $border-width nhsd-colours.get("light-blue");
    }

    &-green {
      box-shadow: inset 0 0 0 $border-width nhsd-colours.get("green");
    }

    &-red {
      box-shadow: inset 0 0 0 $border-width nhsd-colours.get("accessible-red");
    }
  }

  &--clip {
    overflow: hidden;
  }
}
