{#- Set classes for this component -#}
{% set classNames = "nhsd-a-box" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

<div class="{{ classNames }}">Hello box!</div>
