// Settings
@use "scss-core/settings/vars" as nhsd-vars;
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use 'scss-core/utilities/ratio' as nhsd-ratio;

// Private members
$-root: ".nhsd-o-case-study";
$-picture-width: 74.5%;
$-card-width: 33%;
$-skeleton-height: 41.9%;

#{$-root} {
  display: block;
  position: relative;
  overflow-x: hidden;

  &__wrapper {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &__contents {
    height: 100%;
    padding: nhsd-spacing.get(6);
    border-radius: nhsd-vars.$border-radius;
    background: nhsd-colours.get("pale-grey");
  }

  &__picture-skeleton {
    @include nhsd-ratio.nhsd-t-ratio;
  }

  figure.nhsd-a-image,
  &__image-container {
    @include nhsd-spacing.set-responsive("margin-top", 6);
    @include nhsd-spacing.set-responsive("margin-bottom", 6);
    overflow: hidden;
  }

  [class^="nhsd-t-heading"] {
    @include nhsd-utils.clamped-text(2);
  }

  [class^="nhsd-t-body"] {
    @include nhsd-utils.clamped-text(5);
  }

  @include mq($from: m) {
    &__content-box {
      z-index: 1;
      width: $-card-width;
      margin: nhsd-spacing.get(6) 0;
    }

    &__picture-skeleton {
      position: relative;
      z-index: 2;
      top: 0;
      width: $-picture-width;
      margin-left: -7.5%;
    }

    figure.nhsd-a-image,
    &__image-container {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      width: $-picture-width;
      margin: 0;

      &:before {
        content: none;
      }
    }

    &--mirrored {
      #{$-root}__wrapper {
        flex-direction: row-reverse;
      }

      #{$-root}__image-container {
        left: 0;
      }

      #{$-root}__picture-skeleton {
        left: 7.5%;
      }
    }

    // Wide variant
    [class^="nhsd-t-body"] {
      @include nhsd-utils.clamped-text(4);
    }
  }

  @include mq($from: m) {
    // Wide variant
    [class^="nhsd-t-body"] {
      @include nhsd-utils.clamped-text(7);
    }
  }

  @include mq($from: l) {
    // Wide variant
    [class^="nhsd-t-body"] {
      @include nhsd-utils.clamped-text(9);
    }
  }

  @include mq($from: xl) {
    // Wide variant
    [class^="nhsd-t-body"] {
      @include nhsd-utils.clamped-text(13);
    }
  }
}
