// Settings
@use "scss-core/settings/vars" as nhsd-vars;
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/grid" as nhsd-grid;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/typography" as nhsd-typography;

// Component imports
@use "../../atoms/button";
@use "../../atoms/image";

// Private members
$-root: ".nhsd-o-case-study";
$-picture-width: 74.5%;
$-card-width: 33%;
$-skeleton-height: 41.9%;

#{$-root} {
  &__wrapper {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &__contents {
    height: 100%;
    padding: nhsd-spacing.get(6);
    border-radius: nhsd-vars.$border-radius;
    background: nhsd-colours.get("pale-grey");
  }

  .nhsd-a-image {
    @include nhsd-spacing.set-responsive("margin-bottom", 3);
  }

  .nhsd-a-image__picture {
    border-radius: nhsd-vars.$border-radius;
  }

  [class^="nhsd-t-heading"] {
    @include nhsd-utils.clamped-text(2);
  }

  [class^="nhsd-t-body"] {
    @include nhsd-utils.clamped-text(5);
  }

  @include mq($until: s) {
    .nhsd-a-image__picture {
      border-radius: 0;
    }
  }

  @include mq($from: m) {
    &__content-box {
      z-index: 1;
      width: $-card-width;
      margin: nhsd-spacing.get(6) 0;
    }

    &__picture-skeleton {
      position: relative;
      z-index: 2;
      top: 0;
      width: $-picture-width;
      padding-bottom: $-skeleton-height;
    }

    .nhsd-a-image {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: $-picture-width;
      margin-bottom: 0;
    }

    &--mirrored {
      #{$-root}__wrapper {
        transform: translateX($-picture-width - 5.2%);
      }

      .nhsd-a-image {
        right: 100% - 5.2%;
      }

      #{$-root}__picture-skeleton {
        right: 100%;
      }
    }

    // Regular width variant
    .nhsd-t-grid:not(.nhsd-t-grid--full-width) {
      [class^="nhsd-t-body"] {
        @include nhsd-utils.clamped-text(2);
      }
    }

    // Wide variant
    [class^="nhsd-t-body"] {
      @include nhsd-utils.clamped-text(4);
    }

    // No label variant
    &--no-label {
      // Regular width variant
      .nhsd-t-grid:not(.nhsd-t-grid--full-width) {
        [class^="nhsd-t-body"] {
          @include nhsd-utils.clamped-text(3);
        }
      }

      // Wide variant
      [class^="nhsd-t-body"] {
        @include nhsd-utils.clamped-text(5);
      }
    }
  }

  @include mq($from: m) {
    // Wide variant
    [class^="nhsd-t-body"] {
      @include nhsd-utils.clamped-text(7);
    }

    // No label variant
    &--no-label {
      // Wide variant
      [class^="nhsd-t-body"] {
        @include nhsd-utils.clamped-text(8);
      }
    }
  }

  @include mq($from: l) {
    // Regular width variant
    .nhsd-t-grid:not(.nhsd-t-grid--full-width) {
      [class^="nhsd-t-body"] {
        @include nhsd-utils.clamped-text(7);
      }
    }

    // Wide variant
    [class^="nhsd-t-body"] {
      @include nhsd-utils.clamped-text(9);
    }

    // No label variant
    &--no-label {
      // Regular width variant
      .nhsd-t-grid:not(.nhsd-t-grid--full-width) {
        [class^="nhsd-t-body"] {
          @include nhsd-utils.clamped-text(9);
        }
      }

      // Wide variant
      [class^="nhsd-t-body"] {
        @include nhsd-utils.clamped-text(10);
      }
    }
  }

  @include mq($from: xl) {
    // Regular width variant
    .nhsd-t-grid:not(.nhsd-t-grid--full-width) {
      [class^="nhsd-t-body"] {
        @include nhsd-utils.clamped-text(11);
      }
    }

    // Wide variant
    [class^="nhsd-t-body"] {
      @include nhsd-utils.clamped-text(13);
    }

    // No label variant
    &--no-label {
      // Regular width variant
      .nhsd-t-grid:not(.nhsd-t-grid--full-width) {
        [class^="nhsd-t-body"] {
          @include nhsd-utils.clamped-text(12);
        }
      }

      // Wide variant
      [class^="nhsd-t-body"] {
        @include nhsd-utils.clamped-text(14);
      }
    }
  }

  @include mq($from: m, $until: l) {
    .nhsd-t-grid:not(.nhsd-t-grid--full-width) {
      #{$-root}__content-box {
        width: 73%;
      }
    }

    &--mirrored {
      .nhsd-t-grid:not(.nhsd-t-grid--full-width) {
        #{$-root}__wrapper {
          transform: translateX($-picture-width - 24%);
        }

        .nhsd-a-image {
          right: 100% - 24%;
        }
      }
    }
  }
}
