{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button,
  nhsd_a_image
-%}

{#- Set classes -#}
{% set classNames = "nhsd-o-case-study" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

<article class="{{ classNames }}">
  <div class="nhsd-o-case-study__wrapper">
    <div class="nhsd-o-case-study__content-box">
      <div class="nhsd-o-case-study__contents">
        {% if params.label -%}
        <div class="nhsd-t-body-s nhsd-!t-font-weight-bold nhsd-!t-margin-bottom-2">{{ params.label }}</div>
        {%- endif %}

        {% if params.title -%}
        <h1 class="nhsd-t-heading-xl nhsd-!t-margin-bottom-3">{{ params.title }}</h1>
        {%- endif %}

        {% if params.image -%}
        <div class="nhsd-o-case-study__image-container nhsd-t-round">
          {{ nhsd_a_image(params.image) }}
        </div>
        {%- endif %}

        {% if params.text -%}
        <p class="nhsd-t-body">{{ params.text }}</p>
        {%- endif %}

        {% if params.button -%}
        {{ nhsd_a_button(params.button) }}
        {%- endif %}
      </div>
    </div>

    <div class="nhsd-o-case-study__picture-skeleton"></div>
  </div>
</article>
