// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;

// Base
@use "scss-core/base/utils";

// Private members
$-root: ".nhsd-a-rule";

#{$-root} {
  @include utils.box-sizing;
  margin: 0;
  border: 0;
  border-bottom: 1px solid nhsd-colours.get("mid-grey-20-tint");
}
