// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/fonts" as nhsd-fonts;

// Component imports
@use "../../atoms/icon";
@use "../../atoms/link";

// Private members
$-root: ".nhsd-m-breadcrumbs";

#{$-root} {
  display: block;
  position: relative;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin-bottom: 0;
    align-items: center;

    &:not(:last-child):not(&--button) {
      margin-right: nhsd-spacing.get(1);
    }

    .nhsd-a-link {
      // stylelint-disable scss/at-extend-no-missing-placeholder
      @extend .nhsd-t-body-s;
      // stylelint-enable scss/at-extend-no-missing-placeholder
    }

    .nhsd-a-icon {
      top: .111rem;
      margin-left: nhsd-spacing.get(1);
    }

    [class^="nhsd-t-body"] {
      @include nhsd-fonts.font-weight(bold);

      margin: 0;
      color: nhsd-colours.get("black");
    }

    @include mq($until: s) {
      &:not(:last-child):not(&--button) {
        margin-right: calc(.5 * #{nhsd-spacing.get(1)});
      }

      .nhsd-a-icon {
        margin-left: calc(.5 * #{nhsd-spacing.get(1)});
      }
    }
  }
}
