// Settings
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/fonts" as nhsd-fonts;

// Component imports
@use "../../atoms/icon";
@use "../../atoms/link";

// Private members
$-root: ".nhsd-m-breadcrumbs";

#{$-root} {
  display: block;
  position: relative;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin-bottom: 0;
    align-items: center;

    &:not(:last-child):not(&--button) {
      margin-right: nhsd-spacing.get(1);
    }

    .nhsd-a-link {
      // stylelint-disable scss/at-extend-no-missing-placeholder
      @extend .nhsd-t-body-s;
      // stylelint-enable scss/at-extend-no-missing-placeholder
    }

    .nhsd-a-icon {
      top: .111rem;
    }

    [class^="nhsd-t-body"] {
      @include nhsd-fonts.font-weight(bold);

      margin: 0;
      color: nhsd-colours.get("black");
    }
  }

  .nhsd-m-breadcrumbs__ellipses {
    margin-right: nhsd-spacing.get(2);
    padding: 0 nhsd-spacing.get(1);
    border-radius: 3px;
    background-color: nhsd-colours.get("pale-grey-80-tint");

    span {
      margin-left: 3px;
    }

    &:hover,
    &:active {
      background-color: nhsd-colours.get("dark-blue");
      box-shadow: 0 0 0 .167rem nhsd-colours.get("yellow");

      svg {
        fill: nhsd-colours.get("white");
      }
    }
  }
}
