{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_link,
  nhsd_a_icon
-%}

{%- set linksList = [params.secondLevel, params.thirdLevel, params.fourthLevel, params.currentLevel] -%}

<nav class="nhsd-m-breadcrumbs" aria-label="Breadcrumb">
  <ol class="nhsd-m-breadcrumbs__list">
    <li class="nhsd-m-breadcrumbs__item">
      {{ nhsd_a_link(params.firstLevel) }}
      {{ nhsd_a_icon(params.icon)}}
    </li>
    {% for link in linksList %}
      {%-if link|length -%}
        <li class="nhsd-m-breadcrumbs__item">
          {%-if not link.current -%}
            {{ nhsd_a_link(link) }}
            {{ nhsd_a_icon(params.icon)}}
          {%- else -%}
            <span class="nhsd-t-body-s" aria-current="page">{{link.label}}</span>
          {%- endif -%}
        </li>
      {%- endif -%}
    {% endfor %}
  </ol>
</nav>
