// Settings
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/utils" as nhsd-utils;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Private members
$-root: ".nhsd-a-tag";

#{$-root} {
  @include nhsd-utils.box-sizing;
  @include nhsd-fonts.font-family;
  @include nhsd-fonts.font-weight(bold);

  padding: .33rem .33rem .3rem;
  color: nhsd-colours.get("black");
  background: nhsd-colours.get("white");
  font-size: .556rem;
  letter-spacing: .0555rem;
  text-transform: uppercase;

  .nhsd-a-icon {
    margin-bottom: 3px;
    margin-left: nhsd-spacing.get(3);
    vertical-align: middle;
  }

  // Colour variants
  &--bg-light-grey {
    color: nhsd-colours.get("dark-grey");
    background: nhsd-colours.get("pale-grey-80-tint");
  }

  &--bg-dark-grey {
    color: nhsd-colours.get("white");
    background: nhsd-colours.get("dark-grey");
  }

  &--bg-light-red {
    background: nhsd-colours.get("mid-red-20-tint");
  }

  &--bg-light-blue {
    background: nhsd-colours.get("bright-blue-10-tint");
  }

  &--bg-light-green {
    background: nhsd-colours.get("green-20-tint");
  }

  // Meta tag shorthand
  &--meta,
  &--meta-light {
    padding: .22rem .33rem .2rem;
    border-radius: vars.$border-radius;
    color: nhsd-colours.get("dark-grey");
    font-size: .778rem;
    letter-spacing: -.0166rem;
    line-height: 1.389;
  }

  &--meta-light {
    @include nhsd-fonts.font-weight;
  }

  // Phase banner tag
  &--phase {
    @include nhsd-fonts.font-weight(regular, true);
    min-width: 75px;
    padding: nhsd-spacing.get(1) nhsd-spacing.get(3);
    border-radius: 3px;
    color: nhsd-colours.get('white');
    background: nhsd-colours.get('blue');
    font-size: .778rem;
    letter-spacing: -.0166rem;
  }

  &--closable {
    border: 1px solid nhsd-colours.get('mid-grey-20-tint');
    border-radius: 3px;
    font-size: .778rem;
    line-height: .778rem;
    align-items: center;
    text-decoration: none;
    @include nhsd-fonts.font-weight(regular);

    &:hover,
    &:focus {
      border: 1px solid nhsd-colours.get('black');
      box-shadow: 0 0 .0556rem .0556rem nhsd-colours.get("yellow");

      .nhsd-a-icon {
        background: nhsd-colours.get("yellow");

        svg {
          fill: nhsd-colours.get("black");
        }
      }
    }
  }
}
