{% macro nhsd_a_icon(params) -%}
  {% include "../icon/template.njk" %}
{%- endmacro %}

{# Set classes #}
{%- set classNames = "nhsd-a-tag" -%}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}
{# Set label #}
{%- set label = "Simple label" -%}
{%- if params.label -%}
  {% set label = params.label %}
{%- endif -%}
{%- if params.href -%}
<a href="{{ params.href }}" class="{{ classNames }}">
{%- else -%}
<span class="{{ classNames }}">
{%- endif -%}
{{ label }}{%- if params.icon -%}{{ nhsd_a_icon(params.icon) }}{%- endif -%}
{%- if params.href -%}
</a>
{%- else -%}
</span>
{%- endif -%}