// Settings
@use "scss-core/settings/vars";
@use "scss-core/settings/media-queries" as *;

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/transition" as nhsd-transition;
@use "scss-core/tokens/typography" as nhsd-typography;
@use "scss-core/tokens/utils" as nhsd-utils;

// Component imports
@use "../../atoms/button";

// Private members
$-root: ".nhsd-m-search-bar";

#{$-root} {
  position: relative;
  width: 100%;
  max-width: 36rem;
  padding: 0 nhsd-spacing.get(7);
  flex-direction: column;

  .nhsd-t-form-input {
    &,
    &:not(:last-child) {
      margin-bottom: 0;
      padding-right: calc(#{vars.$min-button-size} * 2.2);
    }
  }

  &__full-width {
    max-width: 100%;
    padding: 0;
  }

  .nhsd-t-form-control__button {
    .nhsd-a-button {
      margin-left: nhsd-spacing.get(1);
    }
  }

  &__small {
    .nhsd-t-form-input {
      height: nhsd-spacing.get(7);
      padding: 0 nhsd-spacing.get(3);
      padding-right: calc(#{vars.$min-button-size} * 2.1);
    }

    .nhsd-t-form-control__button {
      right: nhsd-spacing.get(2);
    }
  }
}
