{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button
-%}

{#- Set classes -#}
{% set classNames = "nhsd-m-search-bar" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

{#- Set placeholder text -#}
{% set placeholder = "What are you looking for today?" %}
{%- if params.placeholder -%}
  {% set placeholder = params.placeholder %}
{%- endif -%}

<div class="{{ classNames }}">
  <div class="nhsd-t-form-control">
    <input
      class="nhsd-t-form-input"
      type="text"
      id="query"
      name="query"
      autocomplete="off"
      placeholder="{{ placeholder }}"
      aria-label="Keywords"
    />
    <span class="nhsd-t-form-control__button">
      {{ nhsd_a_button({
        classes: "nhsd-a-button--circle-condensed nhsd-a-button--transparent",
        el: "button",
        type: "submit",
        aria: {
          label: "Perform search"
        },
        icon: {
          id: "search",
          classes: "nhsd-a-icon--size-s"
        }
      }) }}
    </span>
  </div>
</div>
