// ==========================================================================
// SETTINGS / #FONT-FACE
// ==========================================================================

// NHS Digital uses the same Frutiger font as NHS UK

@font-face {
  font-family: 'Frutiger W01';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('https://s3.eu-west-2.amazonaws.com/ui-toolkit.digital.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2') format('woff2');
}

@font-face {
  font-family: 'Frutiger W01';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('https://s3.eu-west-2.amazonaws.com/ui-toolkit.digital.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Frutiger W01';
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url('https://s3.eu-west-2.amazonaws.com/ui-toolkit.digital.nhs.uk/fonts/FrutigerLTW01-45Light.woff2') format('woff2');
}
