$font-family: "Frutiger W01", "Arial", sans-serif;
$font-family-mono: monospace, monospace;

$nhsd-colours: (
  "dark-blue": #003088,
  "accessible-blue": #004da8,
  "blue": #005bbb,
  "bright-blue": #0072ce,
  "yellow": #fae100,
  "black": #231f20,
  "dark-grey": #425563,
  "mid-grey": #768692,
  "pale-grey": #e8edee,
  "pink": #ae2573,
  "red": #da291c,
  "orance": #ed8b00,
  "warm-yellow": #ffb81c,
  "dark-green": #006747,
  "green": #009639,
  "light-green": #78be20,
  "light-blue": #41b6e6,
  "green-20-tint": #ccead7,
  "mid-grey-20-tint": #e4e7e9,
  "mid-red-20-tint": #f8d4d2,
  "pale-grey-80-tint": #edf1f1,
  "pale-grey-40-tint": #f6f8f8,
  "bright-blue-20-tint": #cce3f5,
  "bright-blue-10-tint": #e5f0fa,
  "yellow-20-tint": #fef9cc,
  "yellow-10-tint": #fefce5,
  "white": #ffffff
);
