{#- Import atom macros -#}
{%- from "../../../njk/macros/molecules.njk" import nhsd_m_sticky_nav -%}

<div class="nhsd-t-grid">
    <div class="nhsd-t-row">
        <div class="nhsd-t-col-3 nhsd-!t-display-hide nhsd-!t-display-l-show">
            {{ nhsd_m_sticky_nav(params.stickyNav) }}
        </div>
        <div class="nhsd-t-col-12 nhsd-t-col-l-9">
            {{ params.content|safe }}
        </div>
    </div>
</div>
