{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_link
-%}

{#- Set classes -#}
{%- set classNames = "nhsd-a-skip-link" -%}
{%- if params.classes -%}
  {%- set classNames = classNames + " " + params.classes -%}
{%- endif -%}

{#- Define ARIA attributes that we can use across all element types #}
{%- set ariaAttributes %} {%- if params.aria %} {% for prop, val in params.aria %}aria-{{ prop }}="{{ val }}"{% endfor %}{% endif -%}{% endset -%}

<a href="{{ params.href }}" class="{{ classNames }}" {{- ariaAttributes | safe }}>
  {% if params.label -%}
  <div class="nhsd-t-grid nhsd-t-grid--full-width">
    <div class="nhsd-t-row">
      <div class="nhsd-t-col nhsd-t!t-no-gutters">
        <div class="nhsd-t-grid">
          <div class="nhsd-t-row">
            <div class="nhsd-t-col">
              <span class="nhsd-a-skip-link__label">{{ params.label }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- endif %}
</a>
