// Settings
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/fonts" as nhsd-fonts;
@use "scss-core/tokens/utils" as nhsd-utils;

// Private members
$-root: ".nhsd-a-text-highlight";

#{$-root} {
  @include nhsd-utils.box-sizing;
  @include nhsd-fonts.font-family;
  @include nhsd-fonts.font-weight(bold);

  display: inline;
  padding: .04rem .11rem;
  color: nhsd-colours.get("black");

  &,
  &--bg-light-green {
    background-color: nhsd-colours.get("green-20-tint");
  }

  &--bg-light-grey {
    background-color: nhsd-colours.get("mid-grey-20-tint");
  }

  &--bg-light-red {
    background-color: nhsd-colours.get("mid-red-20-tint");
  }

  &--bg-light-blue {
    background-color: nhsd-colours.get("bright-blue-20-tint");
  }

  &--bg-dark-grey {
    color: nhsd-colours.get("pale-grey");
    background-color: nhsd-colours.get("dark-grey");
  }

  &--code,
  &--code-s {
    @extend #{$-root}--bg-dark-grey;
    @include nhsd-fonts.font-family(mono, true);
    @include nhsd-fonts.font-weight;
  }

  // stylelint-disable declaration-no-important
  &--code-s {
    font-size: .778rem !important;
    line-height: 1.389;
  }
  // stylelint-enable declaration-no-important
}
