// Settings
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/transition" as nhsd-transition;
@use "scss-core/tokens/utils" as nhsd-utils;

// Private members
$-root: ".nhsd-m-logo-link";

#{$-root} {
  @include nhsd-utils.box-sizing;

  display: inline-block;
  padding: .2rem;
  background: nhsd-colours.get("white");
  transition-property: background, box-shadow;
  transition-duration: nhsd-transition.$transition-duration;

  &:hover,
  &:focus {
    background: nhsd-colours.get("yellow");
    box-shadow: 0 0 0 .167rem nhsd-colours.get("yellow");
  }
}
