// Settings
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/transition" as nhsd-transition;
@use "scss-core/tokens/utils" as nhsd-utils;

// Private members
$-root: ".nhsd-m-logo-link";

#{$-root} {
  @include nhsd-utils.box-sizing;

  display: inline-block;
  margin-top: #{vars.$active-line-thickness + 4};
  margin-left: -.2rem;
  padding: .2rem;
  border-bottom: vars.$active-line-thickness solid transparent;
  background: nhsd-colours.get("white");
  transition-property: background;
  transition-duration: nhsd-transition.$transition-duration;

  &:hover,
  &:focus {
    border-bottom: vars.$active-line-thickness solid nhsd-colours.get("black");
    background: nhsd-colours.get("yellow");
  }
}
