// Settings
@use "scss-core/settings/vars";

// Helpers
@use "scss-core/helpers/colours" as nhsd-colours;

// Base
@use "scss-core/base/utils";

// Private properties
$-root: ".nhsd-m-logo-link";

#{$-root} {
  @include utils.box-sizing;
  display: inline-block;
  padding-bottom: .1115rem;
  border-bottom: 2px solid transparent;
  transition-property: border-color;
  transition-duration: vars.$transition-duration;

  &:hover,
  &:focus {
    border-color: nhsd-colours.get("yellow");
  }
}
