// Settings
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/colours" as nhsd-colours;

// Private members
$-root: ".nhsd-m-checklist";

#{$-root} {
  border-radius: vars.$border-radius;
  color: nhsd-colours.get("black");
  background: nhsd-colours.get("white");
  box-shadow: inset 0 0 0 2px nhsd-colours.get("mid-grey-20-tint");

  &__list-container {
    padding: nhsd-spacing.get(2) nhsd-spacing.get(4);

    &--no-heading {
      padding: nhsd-spacing.get(4);
    }
  }

  &__header {
    display: inline-block;
    margin: 0;
    padding: nhsd-spacing.get(2) nhsd-spacing.get(4);
    border-radius: nhsd-spacing.get(1) 0 nhsd-spacing.get(1) 0;
    color: nhsd-colours.get('white');
    background-color: nhsd-colours.get('blue');
  }

  &__icon {
    width: nhsd-spacing.get(6);
  }

}
