{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_icon,
  nhsd_a_box_start,
  nhsd_a_box_end
-%}

{#- Set classes -#}
{% set classNames = "nhsd-m-checklist" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

{#- Set icon class -#}
{% if params.iconType == 'bullet' %}
  {% set listClass = 'nhsd-t-list nhsd-t-list--bullet' %}
{% else %}
  {% set listClass = 'nhsd-t-list' %}
{% endif %}

{#- Set list container class -#}
{% set listContainerClass = 'nhsd-m-checklist__list-container no-heading' %}
{% if params.heading %}
  {% set listContainerClass = 'nhsd-m-checklist__list-container' %}
{% endif %}

{#- Set icon colour and key -#}
{% if params.iconType == 'cross' %}
  {% set iconColour = 'nhsd-a-icon--col-red' %}
{% elif params.iconType == 'check' %}
  {% set iconColour = 'nhsd-a-icon--col-green' %}
{% endif %}

<div class="{{ classNames }}">
  {{ nhsd_a_box_start('nhsd-a-box--border-grey') }}
    {% if params.heading %}
      <span class="nhsd-t-heading-s nhsd-!t-col-white nhsd-m-checklist__header">
        {{ params.heading }}
      </span>
    {% endif %}
    <div class="{{ listContainerClass }}">
      <ul class="{{listClass}} nhsd-!t-margin-bottom-0">
        {% for item in params.list %}
          {% if params.iconType == 'custom' %}
            <li class="nhsd-m-checklist__icon-list">
              <span class="nhsd-m-checklist__icon">{{ nhsd_a_icon({ svgSource: params.customIcon.svgSource, classes: 'nhsd-a-icon--size-xs ' + params.customIcon.classes }) }}</span>
              <span>{{ item }}</span>
            </li>
          {% else %}
            {% if params.iconType == 'bullet' %}
              <li class="nhsd-m-checklist__list">{{ item }}</li>
            {% else %}
              <li class="nhsd-m-checklist__icon-list">
                <span class="nhsd-m-checklist__icon">{{ nhsd_a_icon({ svgSource: params.icon.svgSource, classes: 'nhsd-a-icon--size-xs ' + iconColour }) }}</span>
                <span>{{ item }}</span>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {{ nhsd_a_box_end() }}
</div>