// Settings
@use "scss-core/settings/media-queries" as *;

// Token
@use "scss-core/tokens/grid" as nhsd-grid;
@use "scss-core/tokens/colours" as nhsd-colours;
@use "scss-core/tokens/spacing" as nhsd-spacing;

// Private members
$-root: ".nhsd-o-selector-toggle-card-list";

#{$-root} {
  display: block;
  position: relative;

  &__items {
    @include nhsd-spacing.set-responsive("margin-bottom", 4);

    [class^="nhsd-t-col"] {
      padding-bottom: nhsd-grid.$gutter * 2;

      @include mq($until: s) {
        padding-bottom: nhsd-grid.$small-gutter * 2;
      }
    }
  }

  &--fieldset {
    border: none;
  }

  &__error {
    padding-left: nhsd-spacing.get(3);
    border-left: 3px solid nhsd-colours.get("accessible-red");
  }

  .nhsd-t-heading-xs {
    color: nhsd-colours.get("accessible-red");
  }
}
