{#- Import molecule macros -#}
{%- from "../../../njk/macros/molecules.njk" import
  nhsd_m_selector_toggle_card
-%}

{#- Set classes -#}
{% set classNames = "nhsd-o-selector-toggle-card-list nhsd-t-form-group" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

<div class="{{ classNames }}">
  <fieldset class="nhsd-t-form-fieldset" aria-describedby="nhsd-t-form-hint nhsd-t-form__error">
    {%- if params.error -%}
      <div class="nhsd-t-form-group__error">
    {%- endif -%}
        <div class="nhsd-o-selector-toggle-card-list__header nhsd-t-col-12">
          <label for="{{ params.title }}" class="nhsd-t-form-label-l nhsd-!t-margin-bottom-1">{{ params.title }}</label>
          <p class="nhsd-t-form__hint nhsd-!t-margin-top-0">{{ params.hint }}</p>
        </div>
        {% for toggleCard in params.toggleCardList -%}
            {%- if toggleCard.errorText -%}
              <p class="nhsd-t-form-error nhsd-!t-margin-3">{{ toggleCard.errorText }}</p>
            {%- endif -%}
          <div class="nhsd-t-col-12">
            {{ nhsd_m_selector_toggle_card(toggleCard) }}
          </div>
        {% endfor -%}
    {%- if params.error -%}
      </div>
    {%- endif -%}
  </fieldset>
</div>
