// Tokens
@use "scss-core/tokens/utils" as nhsd-utils;

// Private members
$-root: ".nhsd-a-logo";

#{$-root} {
  &--fit {
    @include nhsd-utils.box-sizing;

    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0;
  }
}
