{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button,
  nhsd_a_box_start,
  nhsd_a_box_end,
  nhsd_a_icon,
  nhsd_a_image,
  nhsd_a_tag,
  nhsd_a_avatar
-%}

{#- Create download_card macro instead of importing. Issue looks to be when importing a molecule into a molecule -#}
{% macro nhsd_m_download_card(params) -%}
  {% include "../download-card/template.njk" %}
{%- endmacro %}

{% macro nhsd_m_author(params) -%}
  {% include "../author/template.njk" %}
{%- endmacro %}

{#- Define ARIA attributes -#}
{% set ariaLabel = params.title %}
{%- if params.button.label -%}
  {% set ariaLabel = ariaLabel + " - " + params.button.label %}
{%- endif -%}
{%- if params.boxLink and params.boxLink.external -%}
  {% set ariaLabel = ariaLabel + " (external link, opens in a new tab)" %}
{%- endif -%}
{% set ariaAttributes %} aria-label="{{ ariaLabel }}" {% endset %}

{#- Set classes -#}
{% set classNames = "nhsd-m-card" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}
{%- if params.hexIcon -%}
  {% set classNames = classNames + " nhsd-m-card--with-icon" %}
{%- endif -%}
{%- if params.imagePosition == "adjacent" -%}
  {% set classNames = classNames + " nhsd-m-card--image-position-adjacent" %}
{%- endif -%}
{%- if params.fullHeight -%}
  {% set classNames = classNames + " nhsd-m-card--full-height" %}
{%- endif -%}

{%- if params.boxLink -%}
  {%- set boxLinkClassNames = "nhsd-a-box-link " %}
  {% if params.boxLink.classes -%}
  {%- set boxLinkClassNames = boxLinkClassNames + params.boxLink.classes -%}
  {%- endif %}
{%- endif -%}

<div class="{{ classNames }}">
  {% if params.boxLink -%}
  <a href="{{ params.boxLink.href }}" class="{{ boxLinkClassNames }}" {%- if params.boxLink.external %} target="_blank" rel="external" {% endif -%} {{- ariaAttributes | safe }}>
  {%- endif %}
    {{ nhsd_a_box_start(params.box.classes) }}
  {% if params.image -%}
    <div class="nhsd-m-card__image_container">
      {{ nhsd_a_image(params.image) }}
    </div>
  {%- endif %}
  <div class="nhsd-m-card__content_container">
    <div class="nhsd-m-card__content-box">
       {% if params.tags -%}
        <div class="nhsd-m-card__tag-list">
          {% for tag in params.tags %}
          {{ nhsd_a_tag(tag) }}
          {% endfor %}
        </div>
      {%- endif %}

      {% if params.date|length -%}
        <span class="nhsd-m-card__date">{{ params.date }}</span>
      {%- endif %}

      {%- if params.title -%}
      <span class="nhsd-t-heading-s {%- if params.subtitle %} nhsd-!t-margin-0 {%- endif %}">{{ params.title|safe }}</span>
      {%- endif -%}

      {%- if params.subtitle -%}
      <span class="nhsd-!t-col-black nhsd-!t-margin-bottom-2">{{ params.subtitle|safe }}</span>
      {%- endif -%}

      {%- if params.hexIcon -%}
      {{ nhsd_a_icon(params.hexIcon) }}
      {%- endif -%}

      {% if params.text -%}
      <p class="nhsd-t-body-s">{{ params.text|safe }}</p>
      {%- endif %}

      {% if params.content -%}
      {{ params.content|safe }}
      {%- endif %}

      {% if params.contentTag -%}
      {{ nhsd_a_tag(params.contentTag) }}
      {% endif -%}
    </div>

    <div class="nhsd-m-card__button-box">
      {%- if params.button -%}
        {{ nhsd_a_button(params.button) }}
        {%- endif -%}

        {%- if params.arrowIcon -%}
        {{ nhsd_a_icon(params.arrowIcon) }}
        {%- endif -%}
    </div>

    {% if params.downloadCards %}
      {% for card in params.downloadCards %}
        <div class="nhsd-m-card__download-card">
          {{ nhsd_m_download_card({
            size: 'small',
            box: { classes: 'nhsd-a-box--bg-light-grey' },
            documentIconId: card.documentIconId,
            title: { classes: 'nhsd-!t-margin-bottom-2', label: card.title.label },
            arrowIcon: card.arrowIcon,
            boxLink: { href: '#' },
            metaTags: card.metaTags
          }) }}
        </div>
      {% endfor %}
  {% endif %}
  </div>
  {{ nhsd_a_box_end() }}
  {%- if params.boxLink %}
  </a>
  {% endif -%}
  {% if params.author %}
  <div class="nhsd-m-card__author">
    {{ nhsd_m_author(params.author) }}
  </div>
  {% endif -%}
  {% if params.avatar %}
  <div class="nhsd-m-card__avatar">
    {{ nhsd_a_avatar(params.avatar) }}
  </div>
  {% endif -%}
</div>

