{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_arrow_icon,
  nhsd_a_button,
  nhsd_a_box_start,
  nhsd_a_box_end,
  nhsd_a_picture,
  nhsd_a_tag
-%}

{#- Import utility macros -#}
{%- from "../../../njk/macros/utilities.njk" import
  nhsd_u_uid
-%}

{#- Define ARIA attributes -#}
{% set ariaLabel = params.title %}
{% if params.button.label -%}
  {% set ariaLabel = ariaLabel + " - " + params.button.label %}
{%- endif %}
{% if params.link.target == "_blank" -%}
  {% set ariaLabel = ariaLabel + " (external link, opens in a new tab)" %}
{%- endif %}
{% set ariaAttributes %} aria-label="{{ ariaLabel }}" {% endset %}

{#- Set classes -#}
{% set classNames = "nhsd-m-card" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
  {% set hasIcon = "nhsd-m-card--with-icon" in params.classes %}
{%- endif -%}
{% set hasLink = params.link and params.link.href %}

{% set cardId = nhsd_u_uid("card-") %}

<article class="{{ classNames }}" id="{{ cardId }}">
{{ nhsd_a_box_start(params.box.classes) }}

  {%- if hasLink %}
  <a href="{{ params.link.href }}" class="nhsd-m-card__link" {%- if params.link.target %} target="{{ params.link.target }}" rel="external" {% endif -%} {{- ariaAttributes | safe }}>
  {% endif -%}

  {%- if params.picture %}
  {{ nhsd_a_picture(params.picture) }}
  {% endif -%}

    <div class="nhsd-m-card__content-box">
      {%- if params.tag %}
        {{ nhsd_a_tag(params.tag) }}
      {% endif -%}

      {%- if params.date|length %}
      <span class="nhsd-m-card__date">{{ params.date }}</span>
      {% endif -%}

      <h1 class="nhsd-m-card__title" id="{{ cardId + '-title' }}">{{ params.title|safe }}</h1>

      {%- if hasIcon %}
      <span class="nhsd-m-card__icon">&nbsp;</span>
      {% endif -%}

      {%- if params.body %}
      <p class="nhsd-m-card__text">{{ params.body|safe }}</p>
      {% endif -%}

      {%- if params.button %}
      {{ nhsd_a_button(params.button) }}
      {% endif -%}

      {%- if params.arrow %}
      {{ nhsd_a_arrow_icon(params.arrow) }}
      {% endif -%}
    </div>
  {%- if hasLink %}
  </a>
  {% endif -%}
  {{ nhsd_a_box_end() }}
</article>

