{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_button,
  nhsd_a_box_start,
  nhsd_a_box_end,
  nhsd_a_icon,
  nhsd_a_image,
  nhsd_a_tag
-%}

{#- Import utility macros -#}
{%- from "../../../njk/macros/utilities.njk" import
  nhsd_u_uid
-%}

{#- Define ARIA attributes -#}
{% set ariaLabel = params.title %}
{%- if params.button.label -%}
  {% set ariaLabel = ariaLabel + " - " + params.button.label %}
{%- endif -%}
{%- if params.link.target == "_blank" -%}
  {% set ariaLabel = ariaLabel + " (external link, opens in a new tab)" %}
{%- endif -%}
{% set ariaAttributes %} aria-label="{{ ariaLabel }}" {% endset %}

{#- Set classes -#}
{% set classNames = "nhsd-m-card" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}
{%- if params.hexIcon -%}
  {% set classNames = classNames + " nhsd-m-card--with-icon" %}
{%- endif -%}

{%- if params.boxLink -%}
  {%- set boxLinkClassNames = "nhsd-a-box-link " %}
  {% if params.boxLink.classes -%}
  {%- set boxLinkClassNames = boxLinkClassNames + params.boxLink.classes -%}
  {%- endif %}
{%- endif -%}

{%- set cardId = nhsd_u_uid("card-") -%}

<article class="{{ classNames }}" id="{{ cardId }}">
  {% if params.boxLink -%}
  <a href="{{ params.boxLink.href }}" class="{{ boxLinkClassNames }}" {%- if params.boxLink.target %} target="{{ params.boxLink.target }}" rel="external" {% endif -%} {{- ariaAttributes | safe }}>
  {%- endif %}
    {{ nhsd_a_box_start(params.box.classes) }}
  {% if params.image -%}
    {{ nhsd_a_image(params.image) }}
  {%- endif %}
    <div class="nhsd-m-card__content-box">
      {%- if params.tag %}
        {{ nhsd_a_tag(params.tag) }}
      {% endif -%}
      {% if params.date|length -%}
        <span class="nhsd-m-card__date">{{ params.date }}</span>
      {%- endif %}

      {%- if params.title -%}
      <h1 class="nhsd-t-heading-s" id="{{ cardId + '-title' }}">{{ params.title|safe }}</h1>
      {%- endif -%}

      {%- if params.hexIcon -%}
      {{ nhsd_a_icon(params.hexIcon) }}
      {%- endif -%}

      {% if params.text -%}
      <p class="nhsd-t-body-s">{{ params.text|safe }}</p>
      {%- endif %}
    </div>

    <div class="nhsd-m-card__button-box">
      {%- if params.button -%}
        {{ nhsd_a_button(params.button) }}
        {%- endif -%}

        {%- if params.arrowIcon -%}
        {{ nhsd_a_icon(params.arrowIcon) }}
        {%- endif -%}
    </div>
  {{ nhsd_a_box_end() }}
  {%- if params.boxLink %}
  </a>
  {% endif -%}
</article>

