// Settings
@use "scss-core/settings/media-queries" as *;
@use "scss-core/settings/vars";

// Tokens
@use "scss-core/tokens/spacing" as nhsd-spacing;
@use "scss-core/tokens/colours" as nhsd-colours;

// Private members
$-root: ".nhsd-m-filter-menu-section";

#{$-root} {
  &__accordion-panel {
    display: none;
  }

  &__option-row {
    @include nhsd-spacing.set-responsive('margin-top', 3);
  }

  &__heading-text {
    border-bottom: vars.$active-line-thickness solid transparent;
  }

  &__menu-button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: nhsd-spacing.get(4) 0;
    border: none;
    color: nhsd-colours.get('black');
    background-color: nhsd-colours.get('white');
    text-align: left;
    cursor: pointer;

    &:hover,
    &:focus {
      #{$-root}__heading-text {
        border-bottom: vars.$active-line-thickness solid nhsd-colours.get("black");
        background-color: nhsd-colours.get('yellow');
      }
    }
  }

  &--active {
    #{$-root}__accordion-panel {
      display: block;
    }

    #{$-root}__accordion-heading {
      span {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

html:not(.nhsd-no-js) {
  #{$-root} {
    &__accordion-heading {
      .nhsd-a-menu-item:not(:first-child) {
        margin-left: 0;
      }
    }
  }
}
