{#- Import atom macros -#}
{%- from "../../../njk/macros/atoms.njk" import
  nhsd_a_horizontal_rule,
  nhsd_a_icon,
  nhsd_a_menu_item,
  nhsd_a_checkbox
-%}

{#- Define ARIA attributes -#}
{% set ariaLabel = params.title %}
{% set ariaAttributes %} aria-label="{{ ariaLabel }}" aria-expanded="false" {% endset %}

{#- Set classes -#}
{% set classNames = "nhsd-m-filter-menu-section" %}
{%- if params.classes -%}
  {% set classNames = classNames + " " + params.classes %}
{%- endif -%}

{% macro menu_options(options) -%}
  {% for option in options %}
    {% if option.children %}
      <div class="nhsd-m-filter-menu-section__option-row">
        {{ nhsd_a_checkbox(option) }}
      </div>
      {% if option.children %}
        <div class="nhsd-m-filter-menu-section__option-group">
          {{ menu_options(option.children) }}
        </div>
      {% endif %}
    {% else %}
      <div class="nhsd-m-filter-menu-section__option-row">
        {{ nhsd_a_checkbox({ label: option }) }}
      </div>
    {% endif %}
  {% endfor %}
{%- endmacro %}

<div class="{{ classNames }}">
  <div class="nhsd-m-filter-menu-section__accordion-heading">
    <button class="nhsd-m-filter-menu-section__menu-button" {{- ariaAttributes | safe }}>
      <span class="nhsd-m-filter-menu-section__heading-text nhsd-t-body-s">
        <span id="icon">
          {{ nhsd_a_icon({
            svgSource: params.nhsdIcon('chevron_down'),
            classes: 'nhsd-a-icon--size-xxs'})
          }}
        </span>
        {{ params.title }}
      </span>
    </button>
    <div class="nhsd-m-filter-menu-section__accordion-panel">
      {{ menu_options(params.options) }}
    </div>
  </div>
  {{ nhsd_a_horizontal_rule({ classes: 'nhsd-a-horizontal-rule--size-xxs' }) }}
</div>
